<h4>Legal Menu</h4>
<ul class="nav nav-pills nav-stacked">
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalHome' %} class="active"{% endif %}><a href="{{path('legalHome')}}">Legal Home</a></li>
</ul>
<h5>Covenants Conditions & Restrictions (CCRs)</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalCurrentCCRs' %} class="active"{% endif %} ><a title="Fully Amended" href="{{path('legalCurrentCCRs')}}">Current (fully amended)</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalOriginalCCRs' %} class="active"{% endif %} ><a title="Declaration of Covenants, Conditions, and Restrictions (CC&Rs)" href="{{path("legalOriginalCCRs")}}">Original</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalFirstAmendment' %} class="active"{% endif %} ><a title="First Amendment" href="{{path("legalFirstAmendment")}}">1st Amendment</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalSecondAmendment' %} class="active"{% endif %} ><a title="Second Amendment" href="{{path("legalSecondAmendment")}}">2nd Amendment</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalThirdAmendment' %} class="active"{% endif %} ><a title="Third Amendment" href="{{path("legalThirdAmendment")}}">3rd Amendment</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalFourthAmendment' %} class="active"{% endif %} ><a title="Forth Amendment" href="{{path("legalFourthAmendment")}}">4th Amendment</a></li>
</ul><br>
<h5>Board Governance</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if app.request.attributes.get( '_route' ) starts with 'legalCodeOfRegs' %} class="active"{% endif %} ><a title="Code of Regulations" href="{{path("legalCodeOfRegs")}}">Code of Regulations</a></li>
</ul><br>
<h5>Association Contracts</h5>
<ul class="nav nav-pills nav-stacked">
    <li {% if app.request.attributes.get( '_route' ) starts with 'contractSBSManagement' %} class="active"{% endif %} ><a title="SBS Management Group" href="{{path("contractSBSManagement")}}">Property Management</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'contractPondMaint' %} class="active"{% endif %} ><a title="Aquadoc" href="{{path("contractPondMaint")}}" target='blank'>Pond Maintenance</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'contractLawncare' %} class="active"{% endif %} ><a title="Creative Lawncare" href="{{path("contractLawncare")}}" target='blank'>Lawn Care</a></li>
    <li {% if app.request.attributes.get( '_route' ) starts with 'contractGardenLandscape' %} class="active"{% endif %} ><a title="Winnscapes" href="{{path("contractGardenLandscape")}}" target='blank'>Gardening & Landscaping</a></li>
</ul><br>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search Legal Documents...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</div>