<h4>Financial Menu</h4><hr style="border-color: black;">
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.attributes.get( '_route' ) starts with 'financialsIndex' %} class="active"{% endif %} ><a title="Financial Home Page" href="{{path('financialsIndex')}}">Financial Home</a></li>
        <hr style="border-color: black;"<h5>2016 Statements</h5><hr style="border-color: black;"
            <ul class="nav nav-pills nav-stacked">
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-3rd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-4th-quarter" href="{{ path('2016-3rd-quarter-pdf') }}" target='blank'>2016 4th Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-3rd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-3rd-quarter" href="{{ path('2016-3rd-quarter-pdf') }}" target='blank'>2016 3rd Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-2nd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-2nd-quarter" href="{{ path('2016-2nd-quarter-pdf') }}" target='blank'>2016 2nd Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-1st-quarter-pdf' %} class="active"{% endif %} ><a title="2016-1st-quarter" href="{{ path('2016-1st-quarter-pdf') }}" target='blank'>2016 1st Quarter</a></li>
            </ul>
        <hr style="border-color: black;"<h5>2015 Statements</h5><hr style="border-color: black;">
            <ul class="nav nav-pills nav-stacked">
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-3rd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-4th-quarter" href="{{ path('2016-3rd-quarter-pdf') }}" target='blank'>2015 4th Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-3rd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-3rd-quarter" href="{{ path('2016-3rd-quarter-pdf') }}" target='blank'>2015 3rd Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-2nd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-2nd-quarter" href="{{ path('2016-2nd-quarter-pdf') }}" target='blank'>2015 2nd Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-1st-quarter-pdf' %} class="active"{% endif %} ><a title="2016-1st-quarter" href="{{ path('2016-1st-quarter-pdf') }}" target='blank'>2015 1st Quarter</a></li>
            </ul>
        <hr style="border-color: black;"><h5>2014 Statements</h5><hr style="border-color: black;">
            <ul class="nav nav-pills nav-stacked">
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-3rd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-4th-quarter" href="{{ path('2016-3rd-quarter-pdf') }}" target='blank'>2014 4th Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-3rd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-3rd-quarter" href="{{ path('2016-3rd-quarter-pdf') }}" target='blank'>2014 3rd Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-2nd-quarter-pdf' %} class="active"{% endif %} ><a title="2016-2nd-quarter" href="{{ path('2016-2nd-quarter-pdf') }}" target='blank'>2014 2nd Quarter</a></li>
                <li {% if app.request.attributes.get( '_route' ) starts with '2016-1st-quarter-pdf' %} class="active"{% endif %} ><a title="2016-1st-quarter" href="{{ path('2016-1st-quarter-pdf') }}" target='blank'>2014 1st Quarter</a></li>
            </ul>
    </ul><hr style="border-color: black;">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Financials...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>