{# src/MainBundle/Resources/views/Sidebars/index.html.twig #} 

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"  style="padding-top: 15px;">
      
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Legal Menu</li>
            <li class="treeview {% if route == 'homeLegalPublic' %}active{% endif %} ">
                <a href="{{path('homeLegalPublic')}}">
                    <i class="fa fa-home"></i>
                    <span>Legal Home</span>
                </a>
            </li>
            <li class="treeview {% if if route == 'legalCurrentCCRs' %}active{% endif %} ">
                <a href="{{path('legalCurrentCCRs'}}" >
                    <i class="fa fa-calendar"></i>
                    <span>{{agenda.year}}</span>
                </a>
            </li>
        </ul>
    </section>            
</aside>

{% block body %}
    <div class='sidebarmenu'>
        <ul>
            <li>Legal Menu</li>
            <ul>
                <li><a title="Legal Home Page" href="{{path('legalHome')}}">Homepage</a></li>
            </ul>
            <li>Member Governance</li>
            <li>Covenants Conditions & Restrictions</li>
                <ul>
                    <li><a title="Fully Amended" href="{{path('legalCurrentCCRs')}}">Current CCRs - Fully Amended</a></li>
                    <li><a title="Declaration of Covenants, Conditions, and Restrictions (CC&Rs)" href="{{path("legalOriginalCCRs")}}">Original CCRs</a></li>
                    <li><a title="First Amendment" href="{{path("legalFirstAmendment")}}">1st Amendment</a></li>
                    <li><a title="Second Amendment" href="{{path("legalSecondAmendment")}}">2nd Amendment</a></li>
                    <li><a title="Third Amendment" href="{{path("legalThirdAmendment")}}">3rd Amendment</a></li>
                    <li><a title="Forth Amendment" href="{{path("legalFourthAmendment")}}">4th Amendment</a></li>
                </ul>
            <li>Board Governance</li>
            <ul><li><a title="Code of Regulations" href="{{path("legalCodeOfRegs")}}">Code of Regulations</a></li></ul>
            <li>Association Contracts</li>
                <ul>
                    <li><a title="SBS Management Group" href="{{path("contractSBSManagement")}}">Property Management</a></li>
                    <li><a title="Aquadoc" href="{{path("contractPondMaint")}}" target='blank'>Pond Maintenance</a></li>
                    <li><a title="Creative Lawncare" href="{{path("contractLawncare")}}" target='blank'>Lawn Care</a></li>
                    <li><a title="Winnscapes" href="{{path("contractGardenLandscape")}}" target='blank'>Gardening & Landscaping</a></li>
                </ul>
        </ul>
        
    </div>
{% endblock %}