<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"  style="padding-top: 15px;">
      
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Minutes Menu</li>
            <li class="treeview {% if route == 'indexMinutesProtected' %}active{% endif %} ">
                <a href="{{path('indexMinutesProtected')}}">
                    <i class="fa fa-home"></i>
                    <span>Minutes Home</span>
                </a>
            </li>
            <!-- Annual Agendas -->
            {% for agenda in agendas %}
                <li class="treeview {% if agenda.year in route %}active{% endif %}" >
                    <a href="{{path('showAgendaProtected', {'year' : agenda.year } )}}" >
                        <i class="fa fa-calendar"></i>
                        <span>{{agenda.year}}</span>
                    </a>
                </li>
            {% endfor %}
            <!-- / Annual Agendas -->
        </ul>
    </section>            
</aside>

{#<ul class="nav nav-pills nav-stacked flex-column">
    <li {% if route == 'indexMinutesProtected' %} class="active"{% endif %} ><a href="{{path('indexMinutesProtected')}}">Minutes</a></li>
    {% for agenda in agendas %}
        <li {% if agenda.year in route %} class="active" {% endif %}>
            <a href="{{path('showAgendaProtected', {'year' : agenda.year } )}}" >{{agenda.year}}</a>
        </li>
    {% endfor %}
</ul>#}
