{# empty Twig template #}
<header>
    <h1>Contact BME HOA</h1>
</header>

{# if app.session.hasFlash('notice') %}
    <div class="notice">
        FLASH MESSAGE
        {% app.session.flash('notice') %} 
    </div>
{% endif #}

<p>A contact enquiry was made by {{ enquiry.name }}  at {{ "now" | date("Y-m-d H:i") }} .</p>

<p>Reply-To: {{ enquiry.email }} </p>
<p>Subject: {{ enquiry.subject }} </p>
<p>Body:</br></p>
<p>{{ enquiry.body }} </p>


<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!--This file was converted to xhtml by LibreOffice - see http://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.--><head profile="http://dublincore.org/documents/dcmi-terms/"><meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/><title xml:lang="en-US">- no title specified</title><meta name="DCTERMS.title" content="" xml:lang="en-US"/><meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/><meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/><meta name="DCTERMS.issued" content="2016-12-15T14:23:58.285000000" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.modified" content="2016-12-15T14:39:28.597000000" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.provenance" content="" xml:lang="en-US"/><meta name="DCTERMS.subject" content="," xml:lang="en-US"/><link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/><link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/><link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/><link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/><style type="text/css">
	@page {  }
	table { border-collapse:collapse; border-spacing:0; empty-cells:show }
	td, th { vertical-align:top; font-size:12pt;}
	h1, h2, h3, h4, h5, h6 { clear:both }
	ol, ul { margin:0; padding:0;}
	li { list-style: none; margin:0; padding:0;}
	<!-- "li span.odfLiEnd" - IE 7 issue-->
	li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
	span.footnodeNumber { padding-right:1em; }
	span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
	* { margin:0;}
	.P2 { font-size:10.5pt; font-family:Calibri; writing-mode:page; line-height:100%; text-align:center ! important; font-weight:bold; }
	.P3 { font-size:10.5pt; font-family:Calibri; writing-mode:page; line-height:100%; font-weight:bold; }
	.P4 { font-size:10.5pt; font-family:Calibri; writing-mode:page; line-height:100%; }
	.P5 { font-size:10.5pt; font-family:Calibri; writing-mode:page; line-height:100%; }
	.P6 { font-size:7pt; font-family:Calibri; writing-mode:page; margin-top:0in; margin-bottom:0in; line-height:100%; text-align:center ! important; }
	.P7 { border-bottom-width:0.0399cm; border-bottom-style:double; border-bottom-color:#808080; border-left-style:none; border-right-style:none; border-top-style:none; font-size:6pt; margin-bottom:0.1965in; margin-top:0in; padding:0in; font-family:Calibri; writing-mode:page; }
	.T1 { font-size:7pt; }
	<!-- ODF styles with no properties representable as CSS -->
	.Numbering_20_Symbols  { }
	</style></head><body dir="ltr" style="max-width:8.5in;margin-top:0.7874in; margin-bottom:0.7874in; margin-left:0.7874in; margin-right:0.7874in; "><p class="P2">APPLICATION FOR EXTERIOR IMPROVEMENTS</p><p class="P4"> </p><p class="P4">If you are interested in completing exterior improvements please be aware of the guidelines set by your Covenants and Deed Restrictions. For pre-approval and acceptance of your proposed improvements, please complete this form and submit to the management company for review. Upon verification that your proposed changes are within the guidelines of your Association, you will be notified, in writing, within 30 days of the receipt of your request at the management office. Your association account balance must be current and in good standing before an improvement will be approved.</p><p class="P4"> </p><ol><li><p class="P5" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:0.635cm;">1.</span>Complete all information on this application, along with detailed drawings or literature showing your proposed improvements. <span class="odfLiEnd"/> </p></li><li><p class="P5" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:0.635cm;">2.</span>Approval of application is good for one year from the date it is approved by the Association.<span class="odfLiEnd"/> </p></li><li><p class="P5" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:0.635cm;">3.</span>A Homeowner may, in the future, be required to remove all or part of an improvement for maintenance of a common area if the improvement restricts access to make a repair to common property. The Homeowner will be responsible for any cost incurred to assess that area.<span class="odfLiEnd"/> </p></li><li><p class="P5" style="margin-left:0cm;"><span class="Numbering_20_Symbols" style="display:block;float:left;min-width:0.635cm;">4.</span>Submit one application per requested improvement.<span class="odfLiEnd"/> </p></li></ol><p class="P4"> </p><p class="P4"> </p><p class="P4">Please describe in detail the proposed improvement.</p><p class="P4"> </p><p class="P7"> </p><p class="P7"> </p><p class="P7"> </p><p class="P4">Please provide location(s) of improvement and drawing showing proposed installation.</p><p class="P4"> </p><p class="P7"> </p><p class="P7"> </p><p class="P6">(use reverse side for drawing, if needed)</p><p class="P4"> </p><p class="P3">(Please include drawings/pictures of improvements and a copy of the plat showing placement upon the Lot)</p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4"> </p><p class="P4">Name of Association: ______________________________________________________</p><p class="P4"> </p><p class="P4">Name of Applicant: _______________________________________________________</p><p class="P4"> </p><p class="P4">Property Address: ________________________________________________________</p><p class="P4"> </p><p class="P4">Home Phone: _______________________ Work Phone: ________________________</p><p class="P4"> </p><p class="P4">Date of Application: __________________    <span class="T1">(Please copy as needed. Extra forms for print are available at sbspropertymanagement.com)</span></p></body></html>