<body style="width: 1000px;font-family: sans-serif;line-height: 1.5em;font-size: 12pt;">
    
    <p style="line-height: .6em; font-size: 10pt;"><strong>From:</strong> {{permit.user.fullname}}<small>&nbsp;&nbsp;&#60;{{permit.user.email}}&#62;</small></p>
    <p style="line-height: .6em; font-size: 10pt;"><strong>Sent:</strong> {{ "now" | date("l, F j, Y g:i A") }}</p>
    <p style="line-height: .6em; font-size: 10pt;"><strong>To:</strong> BME Board of Directors</p>
    <p style="line-height: .6em; font-size: 10pt;"><strong>Subject:</strong> Permit Request: {{permit.type}}</p>
    
    <div style="width:100%; text-align:center; padding-top: 30px;">
            <h3>APPLICATION FOR EXTERIOR IMPROVEMENTS</h3>
    </div>
    <p>If you are interested in completing exterior improvements please be aware of the guidelines set by your Covenants and Deed Restrictions. For pre-approval and acceptance of your proposed improvements, please complete this form and submit to the management company for review. Upon verification that your proposed changes are within the guidelines of your Association, you will be notified, in writing, within 30 days of the receipt of your request at the management office. Your association account balance must be current and in good standing before an improvement will be approved.</p>
    <ol class="list" style="width: 80%;margin-left: 5%;padding-bottom: 2%;">
            <li>Complete all information on this application, along with detailed drawings or literature showing your proposed improvements.</li>
            <li>Approval of application is good for one year from the date it is approved by the Association. </li>
            <li>A Homeowner may, in the future, be required to remove all or part of an improvement for maintenance of a common area if the improvement restricts access to make a repair to common property. The Homeowner will be responsible for any cost incurred to assess that area.</li>
            <li>Submit one application per requested improvement. </li>
    </ol>
    <p style="padding: 20px 0;"><strong>Please describe in detail the proposed improvement:</strong></p>		
    {% for eachLine in descArray %}
        {{eachLine}}<hr>
    {% endfor %}	
    <p style="padding: 30px 0;"><strong>Please provide location(s) of improvement and drawing showing proposed installation:</strong></p>		
    {% for eachLine in locArray %}
        {{eachLine}}<hr>
    {% endfor %}
    <div class="center pad-bottom-small" style="width: 100%;text-align: center;padding-bottom: 15px;">
            <p><small>(use reverse side for drawing if needed)</small></p>
    </div>
    <div class="pad-bottom-huge" style="padding-bottom: 75px;">
            <p><strong>(Please include drawings/pictures of improvements and a copy of the plat showing placement upon the Lot)</strong></p>
    </div>
    <div class="center pad-bottom-huge" style="width: 100%;text-align: center;padding-bottom: 75px;">
            <p><strong>SEE ATTACHED DOCUMENT</strong></p>
    </div>
    
    <div class="container" style="margin: 5px 0;overflow: hidden;width: 60%;">
      <div class="left" style="float: left;padding: 10px;width: auto;border: none;height: 10px;">Name of Association:</div><div class="right" style="padding: 10px;overflow: hidden;border-bottom: 1pt solid #000;height: 10px;">Brandy Mill Estates Homeowners Association</div>
    </div>
    <div class="container" style="margin: 5px 0;overflow: hidden;width: 60%;">
      <div class="left" style="float: left;padding: 10px;width: auto;border: none;height: 10px;">Name of Applicant:</div><div class="right" style="padding: 10px;overflow: hidden;border-bottom: 1pt solid #000;height: 10px;">{{permit.user.fullname}}</div>
    </div>
    <div class="container" style="margin: 5px 0;overflow: hidden;width: 60%;">
      <div class="left" style="float: left;padding: 10px;width: auto;border: none;height: 10px;">Property Address:</div><div class="right" style="padding: 10px;overflow: hidden;border-bottom: 1pt solid #000;height: 10px;">{{permit.user.houseNumber}} {{permit.user.street}}, Etna OH 43062</div>
    </div>
    <div class="container-2" style="margin: 5px 0;overflow: hidden;width: 60%;">
      <div class="d1" style="float: left;padding: 10px;width: auto;border: none;height: 10px;">Home Phone:</div><div class="d2" style="float: left;padding: 10px;width: 25%;overflow: hidden;border-bottom: 1pt solid #000;height: 10px;">{{ permit.user.homephone|phone }}</div>
      <div class="d3" style="float: left;padding: 10px;width: auto;border: none;height: 10px;">Cell Phone:</div><div class="d4" style="padding: 10px;overflow: hidden;border-bottom: 1pt solid #000;height: 10px;">{{ permit.user.cellphone|phone }}</div>
    </div>
    <div class="container" style="margin: 5px 0;overflow: hidden;width: 60%;">
      <div class="left" style="float: left;padding: 10px;width: auto;border: none;height: 10px;">Date of Application:</div><div class="right" style="padding: 10px;overflow: hidden;border-bottom: 1pt solid #000;height: 10px;">{{ permit.submitDate|date('l, F j, Y g:i A') }}</div>
    </div>
    <div class="center pad-bottom-small" style="width: 100%;text-align: center;padding-bottom: 15px;"></div>
    <div class="center pad-bottom-small" style="width: 100%;text-align: center;padding-bottom: 15px;">
            <p><small>Please copy as needed. Extra forms for print are available at sbspropertymanagement.com</small></p>
    </div>

</body>
