<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" href="{{ path('exp') }}" title="Homepage">Brandy Mill Estates HOA</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Homeowners <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('homeownersIndex') }}">The Neighborhood</a></li>
              <li><a href="#">Community Forum</a></li>
              <li><a href="#">Announcements</a></li>
              <li><a href="{{ path('mapsShow') }}">Neighborhood Maps</a></li>
              <li><a href="#">Pay Dues</a></li>
              <li><a href="#">Useful Links</a></li>
              <li><a href="#">Neighborhood Watch</a></li>
              <li><a href="#">Block Party</a></li>
              <li><a href="#">Gardeners Club</a></li>
              <li><a href="#">Garage Sales</a></li>
              <li><a href="#">Trading Post</a></li>
              <li><a href="{{ path('test') }}">Code Tester</a></li>
            </ul>
        </li>
        
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Official Business <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{ path('legalHome') }}">Legal</a></li>
            <li><a tabindex="-1" href="{{path('financialsIndex')}}">Financial</a></li>
            <li><a tabindex="-1" href="{{ path('permitNew') }}">Submit Permit</a></li>
            <li><a tabindex="-1" href="{{ path('complaintNew')}}#">Log Complaint</a></li>
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Board of Directors <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="-1" href="{{ path('boardOfDirectorsShow') }}">Current Board</a></li>
                <li><a tabindex="-1" href="{{ path('officialBusinessShow') }}">Official Business - to delete</a></li>
                <li><a tabindex="-1" href="#">Quarterly Meeting Minutes</a></li>
                <li><a tabindex="-1" href="#">Topics for next Board Meeting</a></li>
                <li><a tabindex="-1" href="#">Complaints</a></li>
                <li><a tabindex="-1" href="#">Permits</a></li>
              </ul>
            </li>
            <li><a tabindex="-1" href="{{ path('contact') }}">Contact Us</a></li>
          </ul>
        </li>
        
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrative <b class="caret"></b></a>
          <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Issues Requiring Attention</a></li>
                <li><a tabindex="-1" href="{{ path('admin') }}">Manage Properties</a></li>
                <li><a tabindex="-1" href="#">Manage Users</a></li>
                <li><a tabindex="-1" href="{{path('adminPermitIndex')}}">Manage Permits</a></li>
                <li><a tabindex="-1" href="#">Manage Complaints</a></li>
                <li><a tabindex="-1" href="#">Manage Communications</a></li>
                <li><a tabindex="-1" href="#">Issue Notice</a></li>
                <li><a tabindex="-1" href="#">Issue Statement(s)</a></li>
                <li><a tabindex="-1" href="#">Issue Assessment</a></li>
                <li><a tabindex="-1" href="#">Upload Document</a></li>
                <li><a tabindex="-1" href="#">Email Blast</a></li>
                <li><a tabindex="-1" href="#">Urgent Mass Text Alert</a></li>
                <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Accounting<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Journal Entry</a></li>
                        <li><a tabindex="-1" href="#">Transactions</a></li>
                        <li><a tabindex="-1" href="#">Manage Accounts</a></li>
                        <li class="dropdown-submenu">
                            <a class="test" href="#">Statements <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Balance Sheet</a></li>
                                <li><a href="#">Income Statement</a></li>
                                <li><a href="#">Accounts Receivable</a></li>
                                <li><a href="#">Accounts Payable</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
          </ul>
        </li>
        
        
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li {% if app.request.attributes.get( '_route' ) starts with 'personalAccountSummary' %} class="active"{% endif %}><a href="{{ path('personalAccountSummary') }}">Summary</a></li>
                  <li {% if app.request.attributes.get( '_route' ) starts with 'personalAccountShow' %} class="active"{% endif %}><a href="{{path('personalAccountShow', {'id' : app.user.id })}}">Profile</a></li>
                  <li><a href="#">Submitted Permits</a></li>
                  <li><a href="#">Submitted Complaints</a></li>
                  <li><a href="#">Statements</a></li>
                  <li><a href="#">Notices</a></li>
                </ul>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp; Logout</a></li>
        {% else %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; Sign Up</a></li>
            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp; Login</a></li>
        {% endif %}
    </ul>
</div>