<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
    </button>
    <a class="navbar-brand" href="{{ path('home') }}" title="Homepage"><span class="glyphicon glyphicon-home">&nbsp;</span>Brandy Mill Estates HOA</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Community <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li {% if 'Propert' in app.request.attributes.get( '_route' ) %} class="active"{% endif %}><a href="{{ path('indexPropertiesPublic') }}">Properties</a></li>
              <li ><a href="#">Forum</a></li>
              <li {% if app.request.attributes.get( '_route' ) == 'mapsShow' %} class="active"{% endif %}><a href="{{ path('mapsShow') }}">Maps</a></li>
              <li><a href="#">Utility Providers</a></li>
              <li><a href="#">Neighborhood Watch</a></li>
              <li><a href="#">Block Party</a></li>
              <li><a href="#">Gardeners Club</a></li>
              <li><a href="#">Garage Sales</a></li>
              <li><a href="#">Trading Post</a></li>
            </ul>
        </li>
        
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">HOA<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="test" tabindex="-1" href="#">Board of Directors <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li {% if app.request.attributes.get( '_route' ) == 'boardOfDirectorsShow' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('boardOfDirectorsShow') }}">Current Board</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'showMinutesProtected' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('showMinutesProtected') }}">Minutes</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'showAgendaProtected' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('showAgendaProtected') }}">Agenda</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'indexComplaintProtected' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('indexComplaintProtected') }}">Complaints</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'permitIndex' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('permitIndex') }}">Permits</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'devNotes' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('devNotes') }}">Website Notes</a></li>
              </ul>
            </li>
            <li {% if app.request.attributes.get( '_route' ) == 'legalHome' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('legalHome') }}">Legal</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'financialsIndex' %} class="active"{% endif %}><a tabindex="-1" href="{{path('financialsIndex')}}">Financial</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'permitNew' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('permitNew') }}">Submit Permit</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'complaintNew' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('complaintNew')}}#">Log Complaint</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'contact' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('contact') }}">Contact Us</a></li>
          </ul>
        </li>
        
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">ADMIN <b class="caret"></b></a>
          <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Issues</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'admin' %} class="active"{% endif %}><a tabindex="-1" href="{{ path('admin') }}">Properties</a></li>
                <li><a tabindex="-1" href="#">Users</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'newBlogAdmin' %} class="active"{% endif %}><a tabindex="-1" href="{{path('newBlogAdmin')}}">New Post</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'adminPermitIndex' %} class="active"{% endif %}><a tabindex="-1" href="{{path('adminPermitIndex')}}">Permits</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'indexComplaintAdmin' %} class="active"{% endif %}><a tabindex="-1" href="{{path('indexComplaintAdmin')}}">Complaints</a></li>
                <li><a tabindex="-1" href="#">Communications</a></li>
                <li><a tabindex="-1" href="#">Notices</a></li>
                <li><a tabindex="-1" href="#">Statement(s)</a></li>
                <li><a tabindex="-1" href="#">Assessment</a></li>
                <li><a tabindex="-1" href="#">Upload</a></li>
                <li><a tabindex="-1" href="#">Email</a></li>
                <li><a tabindex="-1" href="#">Text</a></li>
                <li {% if app.request.attributes.get( '_route' ) == 'test' %} class="active"{% endif %}><a href="{{ path('test') }}">Code Tester</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounting <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Journal Entry</a></li>
                <li><a tabindex="-1" href="#">Transactions</a></li>
                <li><a tabindex="-1" href="#">Manage Accounts</a></li>
                <li class="dropdown-submenu">
                    <a class="test" href="#">Statements <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Balance Sheet</a></li>
                        <li><a href="#">Income Statement</a></li>
                        <li><a href="#">Accounts Receivable</a></li>
                        <li><a href="#">Accounts Payable</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Pay Dues</a></li>
                  <li {% if app.request.attributes.get( '_route' ) starts with 'personalAccountSummary' %} class="active"{% endif %}><a href="{{ path('personalAccountSummary') }}">Summary</a></li>
                  <li {% if app.request.attributes.get( '_route' ) starts with 'personalAccountShow' %} class="active"{% endif %}><a href="{{path('personalAccountShow', {'id' : app.user.id })}}">Profile</a></li>
                  <li {% if app.request.attributes.get( '_route' ) starts with 'userPermitIndex' %} class="active"{% endif %}><a href="{{path('userPermitIndex')}}">My Permits</a></li>
                  <li {% if app.request.attributes.get( '_route' ) starts with 'indexComplaintPrivate' %} class="active"{% endif %}><a href="{{path('indexComplaintPrivate')}}">My Complaints</a></li>
                  <li><a href="#">Statements</a></li>
                  <li><a href="#">Notices</a></li>
                </ul>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp; Logout</a></li>
        {% else %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; Sign Up</a></li>
            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp; Login</a></li>
        {% endif %}
    </ul>
</div>