{# empty Twig template #}
    <div class="common_nav"><a title="Legal Documents" href="{{ path('legalHome') }}">Legal</a></div>
    <div class="common_nav"><a href="">Financial</a></div>
    <div class="common_nav"><a href="">Announcements</a></div>
    <div class="common_nav"><a href="{{ path('homeownersIndex') }}">Homeowners</a></div>
    <div class="common_nav"><a href="{{ path('boardOfDirectorsShow') }}">Board of Directors</a></div>
    <div class="common_nav"><a href="{{ path('officialBusinessShow') }}">Official Business</a></div>
    <div class="common_nav"><a href="">Community Forum</a></div>
    <div><a href="{{ path('mapsShow') }}">Maps</a></div>
    
