{% extends 'alt-base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block title %}Experimental Page{% endblock %}

{% block body %} 
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            {% block nav %} {{ include('menus/bootstrap-main-menu.html.twig') }} {% endblock %}
        </div>
    </nav>
        
    <div class="fill-gap"></div>
    <div class="jumbotron">
        <div class="container text-center">
            {% block pageheader %}
                <h1>My Portfolio</h1>      
                <p>Some text that represents "Me"...</p>
            {% endblock %}
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice" style='background-color: yellow; margin: 10px 0;'>
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
    </div>    
        
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                {% block sidenav %} {% endblock %}
            </div>
            <div class="col-sm-9">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
        
    <footer class="container-fluid">
        {% block footer %}{{ include('pages/alt-footer.html.twig') }} {% endblock %} 
    </footer>
        
{% endblock %}