{% extends 'alt-base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block title %}Experimental Page{% endblock %}

{% block body %} 
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            {% block nav %} {{ include('menus/bootstrap-main-menu.html.twig') }} {% endblock %}
        </div>
    </nav>
        
    <div class="fill-gap"></div>
    <div class="jumbotron">
        {% block pageheader %}
            <h1>Heading/h1>      
            <p>Generic text....</p>
        {% endblock %}
        {% block alerts %}
            {{ include('pages/alerts.twig') }}
        {% endblock %} 
    </div>    
        
    <div class="container-fluid">
        <div class="row content">
            
            <div class="col-sm-3 sidenav">
                {% block sidenav %} {% endblock %}
            </div>
            <div class="col-sm-9">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
        
    <footer class="container-fluid">
        {% block footer %}{{ include('pages/alt-footer.html.twig') }} {% endblock %} 
    </footer>
        
{% endblock %}