{# src/MainBundle/Resources/views/Legal/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}<link href="{{ asset('bundles/main/css/content.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}Admin - Manage Properties{% endblock %}
{% block sidebar %}
    {{ include('sidebars/admin.html.twig') }}
    {# render controller("MainBundle:Sidebar:admin") #}
{% endblock %}

{% block body %}    
 <style>
        .list_wrapper{
            width: 100%;
            height: 25px;
        }
        .div1{
            width: 25%;
            float: left;
            padding-left: 10px;
        }
        .div2{
            width: 50%;
            float: left;
        }
        .div3{
            width: 23%;
            float: left;
        }
        .toprow{
            background-color: #eee;
            color: #555555;
        }
        .haslien{
            color: red;
        }
        .nolien{
            color: black;
        }
        .toprow ul, .haslien ul, .nolien ul{
            list-style-type: none;
            padding: 0px;
            margin: 0px;
        }
        .toprow ul li, .haslien ul li, .nolien ul li{
            display: inline-block;
            padding: 0px;
            margin: 0px;
        }
        .toprow ul li:nth-child(1), .haslien ul li:nth-child(1), .nolien ul li:nth-child(1){
            padding-left: 5px;
            width: 175px;
        }
        .toprow ul li:nth-child(2), .haslien ul li:nth-child(2), .nolien ul li:nth-child(2){
            width: 209px;
        }
        .toprow ul li:nth-child(3), .haslien ul li:nth-child(3), .nolien ul li:nth-child(3){
            width: 125px;
        }
        .toprow ul li:nth-child(4), .haslien ul li:nth-child(4), .nolien ul li:nth-child(4){
            width: 120px;
        }
        .toprow ul li:nth-child(5), .haslien ul li:nth-child(5), .nolien ul li:nth-child(5){
            width: 75px;
        }
</style>  
    <div class="section-header"><h1>Admin - Manage Properties</h1></div>
    <div class="toprow"><ul><li>Address</li><li>Owner(s)</li><li>Property Type</li><li>Occupied</li><li>In Arrears</li></ul></div>
        {% for property in bmproperty %}
            <div {% if property.hasHoaLien == false %}class="nolien"{% else %}class="haslien"{% endif %}>
                <ul><li><a href="{{ path('adminShow', {'id' : property.id}) }}">
                            {% if property.houseNumber is null %} {{ property.street }}
                                Lot #{{ property.lotNumber }}
                            {% else %}
                                {{ property.houseNumber }} {{ property.street }}
                            {% endif %}
                        </a>
                    </li><li>
                    {% if property.user is not empty %}
                        {% set arr ={} %}
                            {% for key,user in property.user %}
                              {% set arr = arr|merge({(key~'_'): user.fullname}) %}
                            {% endfor %}
                        {{ arr|join(', ') }}
                    {% else %}
                        {{ property.status }}
                    {% endif %}
                    </li><li>{{ property.type }}</li>{% if property.isOccupied == true %}<li>Occupied</li>{% else %}<li>Vacant</li>{% endif %}{% if property.inArrears == true %}<li>Yes</li>{% else %}<li>No</li>{% endif %}</ul>
            </div>
        {% endfor %}
    
{% endblock %}