{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}<link href="{{ asset('bundles/main/css/forms.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/main/js/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/add_delete.js') }}"></script>
{% endblock %}
{% block sidebar %}
    {{ include('sidebars/admin.html.twig') }}
{% endblock %}
{% block title %}Edit Property{% endblock %}
{% form_theme form 'form/fields.html.twig' %}
{% block choice_widget_expanded %}
    {% spaceless %}
        <fieldset class="group"> 
            <ul {{ block('widget_container_attributes') }} >
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
            </ul>
        </fieldset> 
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% spaceless %}
        <li>
            <label  for="{{ prop.id }}" class="checkbox {% if checked %}checked{% endif %}" >
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}
            </label>
        </li>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block body %}    

    <div class="section-header"><h1>Admin - Edit Property</h1></div>
    
    <div class="section-header"><h6>{{ prop.houseNumber }} {{ prop.street }}:</h6></div>
    
    {{ form_start(form) }}
    {#<form action="{{ path('propertyEdit', {'id' : prop.id}) }}" method="post" {{ form_enctype(form) }} class="user">#}
        {{ form_row(form.auditors_pin) }}
        {{ form_row(form.last_sale_price) }}
        <div class='dates'>{{ form_row(form.last_sale_date) }}</div>
        {{ form_row(form.color) }}
        <div class='dates'>{{ form_row(form.dateBuilt) }}</div>
        <label for="plant_resistsDeer">Has HOA Lien</label>
        <fieldset class="group">
            <ul class="checkboxes" >
                {{ form_widget(form.hasHoaLien) }}
            </ul>
        </fieldset>
        {{ form_row(form.houseNumber) }}
        <label for="plant_resistsDeer">Occupied</label>
        <fieldset class="group">
            <ul class="checkboxes" >
                {{ form_widget(form.isOccupied) }}
            </ul>
        </fieldset>
        {{ form_row(form.lotNumber) }}
        <label for="plant_resistsDeer">In Arrears</label>
        <fieldset class="group">
            <ul class="checkboxes" >
                {{ form_widget(form.inArrears) }}
            </ul>
        </fieldset>
        {{ form_row(form.status) }}
        {{ form_row(form.type) }}
        {{ form_row(form.street) }}
        {{ form_row(form.user) }}
        
        <div class="section-header"><h6>Pictures</h6></div>
            {#  data-prototype becomes available after adding the 'allow-add' option in the collection builder 
                of the form.  This "prototype" is a little "template" that contains all the HTML to be able to 
                render any new "photo" forms: #}
            <div class="images" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
                {# iterate over each existing tag and render its only field: description #}
                {% for picture in form.photos %}
                    <section>
                        {{ form_row(picture.name) }}
                        {{ form_row(picture.description) }}
                        {{ form_row(picture.path, { 'attr': {'class': 'img_path'} }) }}
                        {{ form_row(picture.public) }}
                    </section>
                {% endfor %}
            </div>
        
        {{ form_rest(form) }}
        
        <input type="submit" value="Submit" />
    {#</form>#}
    {{ form_end(form) }}
    

{% endblock %}