{% extends 'alt-layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}<link href="{{ asset('bundles/main/css/content.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}My Account{% endblock %}
{% block pageheader %}<h1>My Account</small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block sidenav %} {{ include('sidebars/account.html.twig') }}  {% endblock %}
{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item">My Account</li>
    </ol>
    <hr>
    <h2>My Account</h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>

    <div class='content'>
        <div class="typeface_courier">
            <p>{{ user.honorific }} {{ user.firstname }} {{ user.lastname }}</p>
            <p>{{ user.housenumber }} {{ user.street }}</p>
            <p>Etna, Ohio 43062</p>
            <p>Email: <a href="mailto:{{ user.email }}" target="_top">{{ user.email }} </a><p>
            <p>Phone: {{ user.cellphone|phone }} </p>
        </div>
        <div class="typeface_courier">
            <p>Spouse: {{ user.firstname }}</p>
            <p>Dependents: {{ user.firstname }} </p>
            <p>Pets: {{ user.firstname }} </p>
            <p>Vehicles: {{ user.firstname }} </p>
        </div>
    </div><hr>
    <div class='content'>
        <div class="section-header"><h2>Current Balance</h2></div>
        <div class="typeface_courier">
            <p>{{"now"|date("m/d/Y")}}: <span class="red">$385 DUE</span></p>
        </div>    
    </div><hr>
    <div class='content'>
        <div class="section-header"><h2>Account History</h2></div>
        <div class="typeface_courier">
            <p>{{"now"|date("m/d/Y")}}: <span class="red">$385</span></p>
        </div>    
    </div>
{% endblock %}