{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}BME HOA Homepage{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-home">&nbsp;</span>Homepage | <small><small>THE LATEST NEWS & ANNOUNCEMENTS</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><span class="glyphicon glyphicon-home"></span>&nbsp; Homepage</li>
    </ol>
    <h3><small>INDEX</small></h3>
    <hr style="padding: 0; margin:0;">
    <h2>Annoucements</h2>    
    <h5>
        <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
        <span style="">Public</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> | 
        <span style="padding-left: 5px">Protected</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> | 
        <span style="padding-left: 5px">Private</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> | 
        <span style="padding-left: 5px">Admin</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> 
    </h5>
    <hr>
    
    {% for blog in pagination %}
        <h3><small><a href="{{path('showBlogPublic', {'id': blog.id} )}}">POST {{blog.id}}</a> of {{ pagination.getTotalItemCount }}</small></h3>
        <h3>{{ blog.title|upper }}</h3>    
        <h5><span class="glyphicon glyphicon-time"></span> Posted by {{blog.user.fullname}}, <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time>.</h5>
        <h5>
            {% set tags = blog.tags|split(', ') %}
            {% for tag in tags %}
                <span class="label label-{{ random(['danger', 'warning', 'success', 'default', 'primary', 'info']) }}">{{tag}}</span> 
            {% endfor %}
        </h5><br >
        <p style="white-space: pre-wrap; min-height: 250px; display: inline-block;"><img src="{{ asset(['../web/uploads/blog_images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" style="max-width: 250px; float: left; padding-right: 10px; padding-bottom: 5px;" />{%if blog.blog|length > 2000 %}{{ blog.blog|slice(0, 2000) }}... <a href="{{path('showBlogPublic', {'id': blog.id} )}}" >see more</a>{% else %}{{ blog.blog }}{% endif %}</p>
        <section>
            <h3><span class="badge" style="margin-top: -5px;">{{blog.comments|length}}</span>&nbsp;&nbsp;Comments&nbsp;&nbsp;<small><a data-toggle="collapse" href="#blog_{{blog.id}}">view</a></small></h3><hr>
            <section id="blog_{{blog.id}}" class="collapse" >{% include 'comment/index.html.twig' with { 'comments': blog } %}</section>
        </section>
    {% endfor %}
    <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
    

{% endblock %}