{% extends 'alt-layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
    <style>
        img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        max-width:350px; float: left; margin-right: 10px; margin-bottom: 0px; margin-top: 8px;
    }
    </style>
{% endblock %}
{% block title %}Board of Directors{% endblock %}
{% block pageheader %}<h1>Official Business</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block sidenav %} {{ include('sidebars/alt-legal.html.twig') }}  {% endblock %}
{% block content %}
 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Official Business</a></li>
        <li class="breadcrumb-item"><a href="#">Board of Directors</a></li>
        <li class="breadcrumb-item active">Current Board</a></li>
    </ol>
    <hr>
    
    {% if bods is not null %}  {# collection of users entity #}
        {%  for bod in bods %}  {# a user entity #}
            {%  for term in bod.term %}
                <h2>Trustee Profile</h2>    
                <h5><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;TERM [{{ loop.index }}]&nbsp;: {{ term.startDate|date('F Y') }} to PRESENT</h5>
                <hr>
                <h3>{{term.trusteePosition}}&nbsp;&nbsp;|&nbsp;&nbsp;
                    {# for user in term.user %}
                        {{user.honorific}} {{user.firstname}} {{user.mi}} {{user.lastname}}</h3>
                    {% endfor #}
                <p style="white-space: pre-wrap;">{% for pic in term.photos|slice(0, 1) %}<img class="img-responsive" src='{{ pic.path }}' style="max-width:350px; float: left; margin-right: 10px; margin-bottom: 0px; margin-top: 8px;" />{% endfor %}<span style="font-size: 18pt; color: grey;">Introduction</span></br></br>{{ term.aboutme }}</p>
                <p>Sincerely,</p>
                <p style='font-family: Yellowtail; font-size: 16pt; '>{#term.user.fullname#}</p>
                <p>If you have questions or concerns, please feel free to contact directly: <a style='padding-left: 5px' href="mailto:someone@yoursite.com">email</a>  </p>
                <hr>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}