{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
{% endblock %}
{% block title %}Board of Directors{% endblock %}
{% block pageheader %}<h1>Official Business</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Official Business</a></li>
        <li class="breadcrumb-item"><a href="#">Board of Directors</a></li>
        <li class="breadcrumb-item active">Current Board</a></li>
    </ol>
    <hr>
    
    {% if bods is not null %}  {# collection of users entity #}
        {%  for bod in bods %}  {# a user entity #}
            <h2>Trustee Profile</h2>    
            {%  for term in bod.term %}{# each term entity #}<h5><span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;TERM [{{ loop.index }}]&nbsp;: {{ term.startDate|date('F Y') }} to PRESENT</h5>
            <hr>
            <h3>{{term.trusteePosition}}&nbsp;&nbsp;|&nbsp;&nbsp;{%endfor%}
                {{ bod.honorific }} {{ bod.firstname }} {{bod.mi}}. {{bod.lastname}}</h3>
            {%  for term in bod.term %}{% for pic in term.photos|slice(0, 1) %}<img class="img-responsive" src='{{ pic.path }}' style="max-width:350px; float: left; margin-right: 10px; margin-bottom: 0px; margin-top: 8px;" />{% endfor %}
                    <h4 style=" padding-top: 8px;">Introduction</h4>
                    <p style="white-space: pre-wrap;">{{ term.aboutme }}</p>
            <p>Sincerely,</p>
            <p style='font-family: Yellowtail; font-size: 16pt; '>{%endfor%}{{ bod.firstname }} {{bod.mi}} {{bod.lastname}}</p>
            <p>If you have questions or concerns, please feel free to contact directly: <a style='padding-left: 5px' href="mailto:{{bod.email}}">email</a>  </p>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}