{# OVERRIDES DEFAULT FOS TEMPLATE #}
{% extends "alt-layout-no-sidebar.html.twig" %}
{% block stylesheets %}
    {{ parent() }} <link href="{{ asset('bundles/main/css/forms.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}Login{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-log-in">&nbsp;</span>Login | <small><small>REQUIRED</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
{% trans_default_domain 'FOSUserBundle' %}
    
    {% block fos_user_content %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <h2>Login&nbsp;|&nbsp;&nbsp;<small>OR REGISTER&nbsp;<a href='{{ path('fos_user_registration_register') }}'>HERE</a></small></h2>    
        <hr>    
        
        <form class='form'  action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="block">
                <label for="username">{{ 'Username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div><div class="block">
                <label for="password">{{ 'Password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div><div class="block">
                <label for="remember_me">{{ 'Remember'|trans }}</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            </div><div class="block">
                <input type="submit" id="_submit" name="_submit" value="{{ 'Submit'|trans }}" />
            </div>
        </form>
        
    {% endblock fos_user_content %}
    
{% endblock %}
