{% extends 'AdminLTE_CustomSidebar.html.twig' %}
{% block title %}Finance {{currentYear}}{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-file">&nbsp;</span>Finances | <small><small>{{currentYear}}</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
    {% block sidebar %} {{ include('sidebars/financeSidebar.html.twig', {'fiscalYears' : fiscalYears } ) }}{% endblock %}
    
    <div class="content-wrapper"><!-- content wrapper; contains page content -->

        <section class="content-header"><!-- content header -->
            <h1>{{currentYear}} Finances</h1><!--/heading -->
            <h5>
                <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
                <span style="">Public</span><span class="glyphicon glyphicon-remove" style="padding:0 5px;"></span>
                <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
            </h5>
            <ol class="breadcrumb"><!--breadcrumb -->
                <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
                <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; HOA </li>
                <li class="breadcrumb-item"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Finances Home</li>
                <li class="breadcrumb-item active"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;{{currentYear}}</li>
            </ol><!--/breadcrumb -->
        </section><!--/content header -->

        <section class="content"><!-- main content (includes space for sidebar) -->    
            <div class="row">
                <div class="col-md-12">
                    
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">{{currentYear}}</a></li>
                            {% for quarter in quarters %}
                                <li 
                                    {#  if minute.year in app.request.requesturi 
                                        and 'quarter-'~minute.quarter in app.request.requesturi 
                                    %} 
                                            class="active"
                                    {% endif #}
                                >
                                    <a href="
                                       {{ path('incomeStatementFinanceProtected', 
                                                {'year' : currentYear, 'quarter' : quarter} )
                                       }}
                                    ">
                                        Quarter {{quarter}}
                                    </a>
                                </li>
                            {% endfor %}

                            {# for minute in allMinutes %}
                                <li 
                                    {%  if minute.year in app.request.requesturi 
                                        and 'quarter-'~minute.quarter in app.request.requesturi 
                                    %} 
                                            class="active"
                                    {% endif %}
                                >
                                    <a href="
                                       {{path('showMinutesProtected', 
                                                {'year' : minute.year, 'quarter' : minute.quarter} )
                                       }}
                                    ">
                                        Q{{minute.quarter}} Minutes
                                    </a>
                                </li>
                            {% endfor #}
            
                        </ul>
        
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <b>Content:</b>
                                <p>Exactly like the original bootstrap tabs except you should use the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
                    
    {#<div class="col-md-9">
            
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">2016</a></li>
            <li><a href="{{path('showIncomeStatementQ12016FinanceProtected')}}">Quarter 1</a></li>
            <li><a href="#">Quarter 2</a></li>
            <li><a href="#">Quarter 3</a></li>
            <li><a href="#">Quarter 4</a></li>
        </ul>
        <h2>2016 Finances</h2>    
         
        <h5>
            <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
            <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
        </h5>
        <hr>
        
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{{ path('2016-1st-quarter-pdf') }}" target="_blank">Quarter 1 PDF</a></li>
                <li><a href="{{ path('2016-2nd-quarter-pdf') }}" target="_blank">Quarter 2 PDF</a></li>
                <li><a href="{{ path('2016-2nd-quarter-pdf') }}" target="_blank">Quarter 3 PDF</a></li>
                <li><a href="{{ path('2016-2nd-quarter-pdf') }}" target="_blank">Quarter 4 PDF</a></li>
            </ul></br></br></br>
        </div>
    </div>
            #}
                
                
                
{% endblock %}