{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}<link href="{{ asset('bundles/main/css/content.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}The Neighborhood{% endblock %}
{% block pageheader %}<h1>Homeowners</small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Homeowners</a></li>
        <li class="breadcrumb-item">The Neighborhood</li>
    </ol>
    <hr>
    <h2>The Neighborhood</h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>
    
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-xs-3">Brandy Mill Drive</th>
                <th class="col-xs-3">Property Status</th>
                <th class="col-xs-3">Homeowner(s)</th>
                <th class="col-xs-3">Since</th>
            </tr>
        </thead>
    <tbody>
        {% for property in bmproperty %}
            <tr>
                <td class="col-xs-4">
                    <a href="{{ path('homeownersShow', {'id' : property.id}) }}">
                       
                       
                        {# if property.user is not empty %}
                            {{ path('homeownersShow', {'id' : property.user.0.id}) }}
                        {% else %}
                            #
                        {% endif #}
                    
                        {% if property.houseNumber is null %} {{ property.street }}
                            Lot #{{ property.lotNumber }}
                        {% else %}
                            {{ property.houseNumber }} {{ property.street }}
                        {% endif %}
                    </a>
                    </td>
                    <td>
                        {{ property.status }}
                    </td>
                    <td class="col-xs-4">
                        {% if property.user is not empty %}
                            {% set arr ={} %}
                                {% for key,user in property.user %}
                                  {% set arr = arr|merge({(key~'_'): user.fullname}) %}
                                {% endfor %}
                            {{ arr|join(', ') }}
                        {% else %}
                            Vacant
                        {% endif %}
                    </td>
                    <td class="col-xs-4">
                        {% if property.user is not empty %}
                            {{ property.user.0.occupyDate|date('M d, Y') }}  
                        {% else %}
                            Vacant
                        {% endif %}
                    </td>
        {% endfor %}
    </tbody>
    </table>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-xs-3">Spring Brook Court</th>
                <th class="col-xs-3">Property Status</th>
                <th class="col-xs-3">Homeowner(s)</th>
                <th class="col-xs-3">Since</th>
            </tr>
        </thead>
        <tbody>
            {% for property in sbproperty %}
                <tr>
                    <td class="col-xs-4"><a href="{{ path('homeownersShow', {'id' : property.id}) }}">
                                {% if property.houseNumber is null %} {{ property.street }}
                                    Lot #{{ property.lotNumber }}
                                {% else %}
                                    {{ property.houseNumber }} {{ property.street }}
                                {% endif %}
                            </a>
                    </td>
                    <td>
                        {{ property.status }}
                    </td>
                    <td class="col-xs-4">
                        {% if property.user is not empty %}
                            {% set arr ={} %}
                                {% for key,user in property.user %}
                                  {% set arr = arr|merge({(key~'_'): user.fullname}) %}
                                {% endfor %}
                            {{ arr|join(', ') }}
                        {% else %}
                            Vacant
                        {% endif %}
                    </td>
                    <td class="col-xs-4">
                        {% if property.user is not empty %}
                            {{ property.user.0.occupyDate|date('M d, Y') }}  
                        {% else %}
                            Vacant
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>            
            
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-xs-3">Spring Flower Way</th>
                <th class="col-xs-3">Property Status</th>
                <th class="col-xs-3">Homeowner(s)</th>
                <th class="col-xs-3">Since</th>
            </tr>
        </thead>
        <tbody>
            {% for property in sfproperty %}
                <tr>
                    <td class="col-xs-4"><a href="{{ path('homeownersShow', {'id' : property.id}) }}">
                                {% if property.houseNumber is null %} {{ property.street }}
                                    Lot #{{ property.lotNumber }}
                                {% else %}
                                    {{ property.houseNumber }} {{ property.street }}
                                {% endif %}
                            </a>
                    </td>
                    <td>
                        {{ property.status }}
                    </td>
                    <td class="col-xs-4">
                        {% if property.user is not empty %}
                            {% set arr ={} %}
                                {% for key,user in property.user %}
                                  {% set arr = arr|merge({(key~'_'): user.fullname}) %}
                                {% endfor %}
                            {{ arr|join(', ') }}
                        {% else %}
                            Vacant
                        {% endif %}
                    </td>
                    <td class="col-xs-4">
                        {% if property.user is not empty %}
                            {{ property.user.0.occupyDate|date('M d, Y') }}  
                        {% else %}
                            Vacant
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>                 
                
{#    
    <div class="toprow"><ul><li>Address</li><li>Owner(s)</li><li>Property Type</li><li>Occupied</li><li>In Arrears</li></ul></div>
        {% for property in bmproperty %}
            <div {% if property.hasHoaLien == false %}class="nolien"{% else %}class="haslien"{% endif %}>
                <ul><li><a href="{{ path('adminShow', {'id' : property.id}) }}">
                            {% if property.houseNumber is null %} {{ property.street }}
                                Lot #{{ property.lotNumber }}
                            {% else %}
                                {{ property.houseNumber }} {{ property.street }}
                            {% endif %}
                        </a>
                    </li><li>
                    {% if property.user is not empty %}
                        {% set arr ={} %}
                            {% for key,user in property.user %}
                              {% set arr = arr|merge({(key~'_'): user.fullname}) %}
                            {% endfor %}
                        {{ arr|join(', ') }}
                    {% else %}
                        {{ property.status }}
                    {% endif %}
                    </li><li>{{ property.type }}</li>{% if property.isOccupied == true %}<li>Occupied</li>{% else %}<li>Vacant</li>{% endif %}{% if property.inArrears == true %}<li>Yes</li>{% else %}<li>No</li>{% endif %}</ul>
            </div>
        {% endfor %}

    <table class="table table-striped  table-responsive">
        <thead>
            <tr>
                <th class="col-xs-4">Spring Brook Court</th>
                <th class="col-xs-4">Homeowner(s)</th>
                <th class="col-xs-4">Since</th>
            </tr>
        </thead>
    <tbody>
        {% for springbrook_homeowner in springbrook_homeowners %}
            <tr>
                <td class="col-xs-4"><a href="{{ path('homeownersShow', {'id' : springbrook_homeowner.id}) }}"> {{ springbrook_homeowner.housenumber }} {{ springbrook_homeowner.street }}</a></td>
                <td class="col-xs-4">{{ springbrook_homeowner.lastname }} - {{ springbrook_homeowner.firstname }}</td>
                <td class="col-xs-4">{{ springbrook_homeowner.occupyDate|date('M Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-xs-4">Spring Flower Way</th>
                <th class="col-xs-4">Homeowner(s)</th>
                <th class="col-xs-4">Since</th>
            </tr>
        </thead>
    <tbody>
        {% for springflower_homeowner in springflower_homeowners %}
            <tr>
                <td class="col-xs-4"><a href="{{ path('homeownersShow', {'id' : springflower_homeowner.id}) }}"> {{ springflower_homeowner.housenumber }} {{ springflower_homeowner.street }}</a></td>
                <td class="col-xs-4">{{ springflower_homeowner.lastname }} - {{ springflower_homeowner.firstname }}</td>
                <td class="col-xs-4">{{ springflower_homeowner.occupyDate|date('M Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
#}
{% endblock %}