{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}Show Property {{property.id}}{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-th-large">&nbsp;</span>Property | <small><small>THE DETAILS OF THE PROPERTY & RESIDENTS</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    {# BREADCRUMB #}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
        <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; Community </li>
        <li class="breadcrumb-item"><a href="{{ path('indexPropertiesPublic') }}">Properties</a></li>
        <li class="breadcrumb-item active">Property {{property.id}}</li>
    </ol>
    {# PAGE SUMMARY #}        
    <h3><small>SHOW</small></h3>
    <hr style="padding: 0; margin:0;">
    <h2>Property {{property.id}}</h2>    
    <h5>
        <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
        <span style="">Public</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> | 
        <span style="padding-left: 5px">Protected</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> | 
        <span style="padding-left: 5px">Private</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> | 
        <span style="padding-left: 5px">Admin</span><span class="glyphicon glyphicon-eye-open" style="padding:0 5px;"></span> 
    </h5>
    <hr>
    {# PAGE CONTENTS #}  
    
        {#
            Design: I want 3 columns, and as many rows as necessary.  No blank contents on any row, except last.  Each content
            will summarize each of: property, homeower(s), dependent(s), pet(s), car(s).  
    
            1) count items
            2) divide count by 3 = rows to create
            3) slice the array into arrays = the row count
        #}
    
    {% set props = testAr.props|length%} 
    {% set homeowners = testAr.homeowners|length%} 
    {% set spouses = testAr.spouse|length%} 
    {% set kids = testAr.kids|length %}  
    {% set pets = testAr.pets|length%}  
    {% set cars = testAr.cars|length%}  
    {% set objSum = props + homeowners + spouses + kids + pets + cars %}
    {% set rows = objSum / 3 %}
    {% set rows = rows|round(0, 'ceil')%}
    
    {% set data = {} %}
    {% for i in 1..rows %}
       {# * row {{ i }} </br> #}
        {% set data = {'key': i} %}
    {% endfor %}
    
    {#
    Property Count: {{props}}   </br>
    Homeowner Count: {{homeowners}}   </br>
    Spouse Count: {{spouses}}   </br>
    Kid Count: {{kids}}  </br>
    Pet Count: {{pets}}  </br>
    Car Count: {{cars}}  </br>
    Sum of Objects: {{objSum}}</br>
    Number of Rows Needed: {{rows}}  </br>
    {{dump(data)}}
    {{dump(testAr)}}
    
    
    <div class="container-fluid bg-3 text-center">    
        {% for i in 1..rows %}
            * row {{ i }}
            <div class="row">
                <div class="col-sm-4">
                    <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                    <p>row_{{i}} cell_{{i}} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4"> 
                    <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                    <p>row_{{i}} cell_{{i+i}} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4"> 
                    <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                    <p>row_{{i}} cell_{{i+i+i}} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        {% endfor %}
    </div>
    #}
    
    {#
        TODO:   This page is currently listing EVERYTHING about the property AND it's current resident(s).  The current resident(s) need to have control
                over what is shared:
                    - PUBLICLY
                    - Logged in & authenticated users (users that are assigned a HOMEOWNER_ROLE
                
                Each role needs to show/hide information permitted/denied by current resident... which requires an update to the USER entity, adding the following:
                
                _ispubic = allows the information to be shared publicly
                _ispermitted = allows the information to be shared to authenticated users assigned to the HOMEOWNER_ROLE
    
                    - spouse_ispublic
                    - spouse_ispermitted
                    - dependents_ispublic
                    - dependents_ispermitted
                    - pets_ispublic
                    - pets_ispermitted
                    - vehicles_ispublic
                    - vehicles_ispermitted
                    - bio (a family summary)
                    - bio_ispublic
                    - bio_ispermitted
                    - bday_ispublic
                    - bday_permitted
                    - maritalstatus_ispublic
                    - maritalstatus_ispermitted        
                    - phonenumbers_ispublic
                    - phonenumbers_ispermitted
                    - occupation_ispublic
                    - occupation_ispermitted
    #}
    
    <div class="container-fluid bg-3 text-center">    
        <div class="row">
            <div class="col-sm-4">
                <h3>{{ testAr.props.0.houseNumber }} {{ testAr.props.0.street }}</h3>
                {% for pic in testAr.props.0.photos|slice(0, 1) %}
                    <img src='{{ pic.path }}' class="img-responsive margin" style="width:100%; height: 400px" alt="Image" />
                {% endfor %} 
                <p style="text-align: left; margin-top: 10px; font-size: 1.2em; background-color: #555; color: white; padding: 10px; height: 160px;"><strong>{{ testAr.props.0.houseNumber }} {{ testAr.props.0.street }}</strong> is a {{ testAr.props.0.type|lower }} property located on platted lot #{{ testAr.props.0.lotNumber}}
                    in the Brandy Mill Estates Subdivision of Etna Township in Licking County, Ohio. The home was built {{ testAr.props.0.dateBuilt|date('M d, Y') }}, has a 
                    {{ testAr.props.0.color|lower }} facade, and is {{ testAr.props.0.isOccupied ? 'occupied':'not occupied' }} by {{ testAr.props.0.status|lower }}.  The property 
                    currently {{ testAr.props.0.hasHoaLien ? 'shows it has one or more liens':'is clear of any liens' }} and is {{  testAr.props.0.inArrears ? 'not current':'current' }} financial standing with the HOA.
                    The property last sold November 30, 2004 for a sale price of $194,000, according to the Licking County Auditors office.    
                </p>
            </div>
            <div class="col-sm-4"> 
                <h3>HOMEOWNER</h3>
                {% for pic in testAr.homeowners.0.photos|slice(0, 1) %}
                    <img src='{{ pic.path }}' class="img-responsive margin" style="width:100%; height: 400px" alt="Image" />
                {% endfor %} 
                <p style="text-align: left; margin-top: 10px; font-size: 1.2em; background-color: #555; color: white; padding: 10px; height: 160px;"><strong>{{ testAr.homeowners.0.fullname|upper }}</strong></p>
            </div>
            <div class="col-sm-4"> 
                <h3>HOMEOWNER</h3>
                {% for pic in testAr.homeowners.1.photos|slice(0, 1) %}
                    <img src='{{ pic.path }}' class="img-responsive margin" style="width:100%; height: 400px" alt="Image" />
                {% endfor %} 
                <p style="text-align: left; margin-top: 10px; font-size: 1.2em; background-color: #555; color: white; padding: 10px; height: 160px;"><strong>{{ testAr.homeowners.1.fullname|upper }}</strong></p>
            </div>
        </div>
    </div>
            
            <div>
                <p>
                    The above format will work.  Only going to have 3 cells.  1st, cell is a photo carousel that scrolls through ALL of the photos for the user(s)
                    of the property.  These photos will be captioned in the paragraph below with summaries of the object.  These summaries will be a function of the object
                    stored in the entity so we can access them in the twig.  The middle and right cells will be stationary and will have photos of the user(s) and a brief summary
                    of the stored information.
                </p>
            </div>
    
    <h3>{{ property.houseNumber }} {{ property.street }}</h3>
    <span class="label label-success"><a id="a-buttons" href="#" target="_blank" title="Edit photos for {{ property.houseNumber }} {{ property.street }}">Edit Photos</a></span>
    <hr class="invisible"> 
    <div class="row">
        <div class="col-md-6">
            <div class='content'>
                <div class="typeface_courier">
                    <p><label class="text-right">ID</label>{{ property.id }}</p>
                    <p><label class="text-right">Type</label>{{ property.type }}</p>
                    <p><label class="text-right">Lot Number</label>{{ property.lotNumber }}</p>
                    <p><label class="text-right">Status</label>{{ property.status }}</p>
                    <p><label class="text-right">Color</label>{{ property.color }}</p>
                    <p><label class="text-right">Is Occupied</label>{{ property.isOccupied ? 'Yes':'No' }} </p>
                    <p><label class="text-right">Has HOA Lien</label>{{ property.hasHoaLien ? 'Yes':'No' }}</p>
                    <p><label class="text-right">In Arrears</label>{{  property.inArrears ? 'Yes':'No' }}</p>
                    <p><label class="text-right">Date Built</label>{{ property.dateBuilt|date('m-d-y') }}</p>
                </div>
            </div>
        </div>
                
        <div class="col-md-6">
            {% for pic in property.photos|slice(0, 1) %}
                <img src='{{ pic.path }}' class="img-responsive img-rounded pull-left" />
            {% endfor %} 
        </div>
                
    </div>
    <hr>
    {% if homeowners is not null%}     
        {% for owner in homeowners %}  
            <h4><small>{{ owner.fullname|upper }}</small></h4>
            <h3>Homeowner {{ loop.index }}</h3>
            <span class="label label-success"><a id="a-buttons" href="{{ path('personalAccountEdit', {'id' : owner.id}) }}" target="_blank" title="Edit {{ owner.firstname }}">Edit {{ owner.firstname }}</a></span>
            <hr class="invisible"> 
            <div class="row">
                <div class="col-md-6">
                    <div class='content'>
                        <div class="typeface_courier">
                            <p><label class="text-right">Name</label>{{ owner.fullname }}</p>
                            <p><label class="text-right">Gender</label>{{ owner.gender }}</p>
                            <p><label class="text-right">Birthday</label>{{ owner.bday|date('M d Y')|upper }}  (AGE: {{ ('now'|date('Y') - owner.bday|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - owner.bday|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }})</p>
                            <p><label class="text-right">Marital Status</label>{{ owner.maritalStatus }}</p>

                            {% for dependent in owner.dependents %}
                                {% if dependent.spouse == true %}
                                    <p><label class="text-right">Spouse</label>{{ dependent.firstname }} {{ dependent.lastname }} ({{ dependent.gender }})</p>
                                {% endif %}
                            {% endfor %}

                            <p><label class="text-right">Occupation</label>{{ owner.occupation }}</p>
                            <p><label class="text-right">Cellphone</label>{{ owner.cellphone|phone }}</p>
                            <p><label class="text-right">Homephone</label>{{ owner.homephone|phone }} </p>
                            <p><label class="text-right">Date Occupied</label>{{ owner.occupyDate|date('M d Y')|upper }}  ({{ ('now'|date('Y') - owner.occupyDate|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - owner.occupyDate|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }} years) </p>

                            {% for role in owner.roles %}
                                <p><label class="text-right">Acct. Privlege({{loop.index}})</label>{{role}}</p>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {% for pic in owner.photos|slice(0, 1) %}
                        <img src='{{ pic.path }}' class="img-responsive img-rounded pull-left" />
                    {% endfor %} 
                </div>

            </div>
            <hr>
        {% endfor %}
    {% endif %}
    
    {% if spouses is not null%}      
        {% for spouse in spouses %}  
            <h4><small>{{ spouse.firstname|upper }}</small></h4>
            <h3>{{ spouse.user.firstname}}'s {{ spouse.type }} </h3>
            <span class="label label-success"><a id="a-buttons" href="{{ path('personalAccountEdit', {'id' : spouse.id}) }}" target="_blank" title="Edit {{ spouse.firstname }}">Edit {{ spouse.firstname }}</a></span>
            <hr class="invisible"> 
            <div class="row">
                <div class="col-md-6">
                    <div class='content'>
                        <div class="typeface_courier">
                            <p><label class="text-right">Name</label>{{ spouse.firstname }} {{ spouse.mi }} {{ spouse.lastname }}</p>
                            <p><label class="text-right">Gender</label>{{ spouse.gender }}</p>
                            <p><label class="text-right">Birthday</label>{{ spouse.bday|date('M d Y')|upper }}  (AGE: {{ ('now'|date('Y') - spouse.bday|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - spouse.bday|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }})</p>
                            <p><label class="text-right">Cellphone</label>{{ spouse.cellphone|phone }}</p>
                            <p><label class="text-right">Spouse</label>{{ spouse.user.fullname }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {% for pic in spouse.photos|slice(0, 1) %}
                        <img src='{{ pic.path }}' class="img-responsive img-rounded pull-left" />
                    {% endfor %} 
                </div>

            </div>
            <hr>
        {% endfor %}
    {% endif %}    
    
    {% if dependents is not null%}      
        {% for child in dependents %}  
            <h4><small>{{ child.firstname|upper }}</small></h4>
            <h3>{{ child.user.firstname}}'s {{ child.type }} </h3>
            <span class="label label-success"><a id="a-buttons" href="{{ path('personalAccountEdit', {'id' : child.id}) }}" target="_blank" title="Edit {{ child.firstname }}">Edit {{ child.firstname }}</a></span>
            <hr class="invisible"> 
            <div class="row">
                <div class="col-md-6">
                    <div class='content'>
                        <div class="typeface_courier">
                            <p><label class="text-right">Name</label>{{ child.firstname }} {{ child.mi }} {{ child.lastname }}</p>
                            <p><label class="text-right">Gender</label>{{ child.gender }}</p>
                            <p><label class="text-right">Birthday</label>{{ child.bday|date('M d Y')|upper }}  (AGE: {{ ('now'|date('Y') - child.bday|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - child.bday|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }})</p>
                            <p><label class="text-right">Cellphone</label>{{ child.cellphone|phone }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {% for pic in child.photos|slice(0, 1) %}
                        <img src='{{ pic.path }}' class="img-responsive img-rounded pull-left" />
                    {% endfor %} 
                </div>

            </div>
            <hr>
        {% endfor %}
    {% endif %}     
    
    {% if pets is not null%}      
        {% for pet in pets %}  
            <h4><small>{{ pet.name|upper }}</small></h4>
            <h3>{{ pet.user.firstname}}'s {{ pet.type }} </h3>
            <hr class="invisible"> 
            <div class="row">
                <div class="col-md-6">
                    <div class='content'>
                        <div class="typeface_courier">
                            <p><label class="text-right">Name</label>{{ pet.name }}</p>
                            <p><label class="text-right">Gender</label>{{ pet.gender }}</p>
                            <p><label class="text-right">Birthday</label>{{ pet.born|date('M d Y')|upper }}  (AGE: {{ ('now'|date('Y') - pet.born|date('Y') - 1) + ('now'|date('2010-m-d')|date('U') - pet.born|date('2010-m-d')|date('U') >= 0 ? 1 : 0) }})</p>
                            <p><label class="text-right">Color</label>{{ pet.color }}</p>
                            <p><label class="text-right">Breed</label>{{ pet.breed }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {% for pic in pet.photos|slice(0, 1) %}
                        <img src='{{ pic.path }}' class="img-responsive img-rounded pull-left" />
                    {% endfor %} 
                </div>

            </div>
            <hr>
        {% endfor %}
    {% endif %}
    
    {% if vehicles is not null%}      
        {% for vhcl in vehicles %}  
            <h4><small>{{ vhcl.make|upper }} {{ vhcl.model|upper }}</small></h4>
            <h3>{{ vhcl.user.0.firstname}}'s Vehicle </h3>
            <hr class="invisible"> 
            <div class="row">
                <div class="col-md-6">
                    <div class='content'>
                        <div class="typeface_courier">
                            <p><label class="text-right">Make</label>{{ vhcl.make }}</p>
                            <p><label class="text-right">Model</label>{{ vhcl.model }}</p>
                            <p><label class="text-right">Year</label>{{ vhcl.year }}</p>
                            <p><label class="text-right">Color</label>{{ vhcl.color }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {% for pic in vhcl.photos|slice(0, 1) %}
                        <img src='{{ pic.path }}' class="img-responsive img-rounded pull-left" />
                    {% endfor %} 
                </div>

            </div>
            <hr>
        {% endfor %}
    {% endif %}    
    
    {# dump(test) }}
    
    {#
    <div class="section-header"><h1>Homeowner</h1></div>
    <div class="section-header"><h6>Summary</h6></div>
    <div class='content'>
        <div class="left">
            <div class="typeface_courier">
                <p>{{ homeowner.honorific }} {{ homeowner.firstname }} {{ homeowner.lastname }}</p>
                <p>{{ homeowner.housenumber }} {{ homeowner.street }}</p>
                <p>Etna, Ohio 43062</p>
            </div>
            
        </div>
        <div class="right">
            <div class="typeface_courier">
                {% if spouse is not null%}                           
                    <p>{{spouse.type}}:  {{spouse.firstname}} {{spouse.lastname}}</p>
                {% endif %}
                {% if dependents is not null%}  
                    {% for dependent in dependents %}
                        <p>{{dependent.type}}:  {{dependent.firstname}} </p>
                    {% endfor %}
                {% endif %}
                {% if pets is not null%}  
                    {% for pet in pets %}
                        <p>{{pet.type}}:  {{pet.name}} </p>
                    {% endfor %}
                {% endif %}
                {% if vehicles is not null%}  
                    {% for vehicle in vehicles %}
                        <p>Vehicle: {{vehicle.year}} {{vehicle.make}} {{vehicle.model}}</p>
                    {% endfor %}
                {% endif %}
            </div> 
        </div>
        
    </div>
    <div class="section-header"><h6>Property Photos</h6></div>
    <div>
        {% if property.photos is not empty %}
                <div style='width: 100%; position: relative;' >
                    <div id="property_{{property.id}}">
                        {% for pic in property.photos %}
                            <a href='{{ pic.path }}'><img src="{{ pic.path }}" alt="{{ pic.description }}" /></a>
                        {% endfor %}
                    </div>
                </div>
                <script type="text/javascript">
                    $( function() {
                        $( '#property_{{property.id}}' ).jGallery({ 
                            mode: 'slider',                                    
                            width: '92%'
                        });
                    } );
                </script>   
                <div style='padding-bottom: 30px;  width: 100%'></div>   
            {% endif %}
    </div>
    #}
                
    
    
{% endblock %}