{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}Permits - Manage{% endblock %}
{% block pageheader %}<h1>Administrative</small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}

{#
    TODO:   - set parameter: how many board votes required to pass: 51%, 2/3%, etc
            - display board members who haven't voted
            - upon all board members voting - issue email decision & set the decided_by field
            - create a cron job that issues reminders for outstanding issues
            - create a vote interface based upon trustee_role - to keep votes straight and recorded
            - 
    
#}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Administrative</a></li>
        <li class="breadcrumb-item">Manage Permits</li>
    </ol>
    <hr>
    <h2>Manage Permits <small>ADMINISTRATIVE</small></h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>
    
    <h4>Approved Permits&nbsp;&nbsp;&nbsp;<span class="label label-success">APPROVED - NO ACTION REQUIRED</span></h4><hr>
    {% if approved is not empty %}
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th class="col-xs-3">Date Submitted</th>
                    <th class="col-xs-3">Type of Permit</th>
                    <th class="col-xs-3">Submitted By</th>
                    <th class="col-xs-3">Address</th>
                </tr>
            </thead>
            <tbody>
                {% for approve in approved %}
                    <tr>
                        <td class="col-xs-3">
                            {{approve.submitDate|date('M d, Y')}}
                        </td>
                        <td class="col-xs-3">
                            <a href="{{path('adminPermitShow', {'id' : approve.id})}}">{{ approve.type }}</a>
                        </td>
                        <td class="col-xs-3">
                            {{approve.user.fullname}}
                        </td>
                        <td class="col-xs-3">
                            {{approve.user.housenumber}} {{approve.user.street}}
                        </td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Nothing has been approved
    {% endif %}
    <hr>
    
    <h4>Denied Permits&nbsp;&nbsp;&nbsp;<span class="label label-default">DENIED - POOR BASTARDS</span></h4><hr>
    {% if denied is not empty %}
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th class="col-xs-3">Date Submitted</th>
                    <th class="col-xs-3">Type of Permit</th>
                    <th class="col-xs-3">Submitted By</th>
                    <th class="col-xs-3">Address</th>
                </tr>
            </thead>
            <tbody>
                {% for deny in denied %}
                    <tr>
                        <td class="col-xs-3">
                            {{deny.submitDate|date('M d, Y')}}
                        </td>
                        <td class="col-xs-3">
                            <a href="{{path('adminPermitShow', {'id' : deny.id})}}">{{ deny.type }}</a>
                        </td>
                        <td class="col-xs-3">
                            {{deny.user.fullname}}
                        </td>
                        <td class="col-xs-3">
                            {{deny.user.housenumber}} {{deny.user.street}}
                        </td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Nothing has been denied
    {% endif %}
    <hr>
    
    <h4>Resolved Permits&nbsp;&nbsp;&nbsp;<span class="label label-success">RESOLVED - NO ACTION REQUIRED</span></h4><hr>
    {% if resolved is not empty %}
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th class="col-xs-3">Date Submitted</th>
                    <th class="col-xs-3">Type of Permit</th>
                    <th class="col-xs-3">Submitted By</th>
                    <th class="col-xs-3">Address</th>
                </tr>
            </thead>
            <tbody>
                {% for resolve in resolved %}
                    <tr>
                        <td class="col-xs-3">
                            {{resolve.submitDate|date('M d, Y')}}
                        </td>
                        <td class="col-xs-3">
                            <a href="{{path('adminPermitShow', {'id' : resolve.id})}}">{{ resolve.type }}</a>
                        </td>
                        <td class="col-xs-3">
                            {{resolve.user.fullname}}
                        </td>
                        <td class="col-xs-3">
                            {{resolve.user.housenumber}} {{resolve.user.street}}
                        </td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Nothing has been resolved
    {% endif %}
    <hr>
    
    <h4>Unresolved Permits&nbsp;&nbsp;&nbsp;<span class="label label-danger">ACTION REQUIRED</span></h4><hr>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-xs-3">Date Submitted</th>
                <th class="col-xs-3">Type of Permit</th>
                <th class="col-xs-3">Submitted By</th>
                <th class="col-xs-3">Address</th>
            </tr>
        </thead>
    <tbody>
        {% for permit in permits %}
            <tr>
                <td class="col-xs-3">
                    {{permit.submitDate|date('M d, Y')}}
                </td>
                <td class="col-xs-3">
                    <a href="{{path('adminPermitShow', {'id' : permit.id})}}">{{ permit.type }}</a>
                </td>
                <td class="col-xs-3">
                    {{permit.user.fullname}}
                </td>
                <td class="col-xs-3">
                    {{permit.user.housenumber}} {{permit.user.street}}
                </td>
        {% endfor %}
    </tbody>
    </table>
    
{% endblock %}