{% extends 'AdminLTE_NoSidebar.html.twig' %}
{% block title %}Submit Permit{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-envelope">&nbsp;</span>Submit Permit | <small><small>PERMISSION FIRST - NOT AFTER</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
    <div class="row"  style="background-color: white;">
    
        <div class="col-md-3"></div>

        <div class="col-md-6" style="background-color: #eeeeee;">
            <section class="content-header"><!-- content header -->
                <h1>Permit</h1><!--/heading -->
                <h5>
                    <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
                    <span style="">Public</span><span class="glyphicon glyphicon-remove" style="padding:0 5px;"></span>
                    <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
                </h5>
                <ol class="breadcrumb"><!--breadcrumb -->
                    <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
                    <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; HOA </li>
                    <li class="breadcrumb-item">Submit Permit</li>
                </ol><!--/breadcrumb -->
            </section><!--/content header -->

            <section class="content"><!-- main content -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">New</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        {% form_theme form 'form/AdminLTE_layout.html.twig' %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}   
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </section>
                    
        </div>

        <div class="col-md-3"></div>
    
    </div>
        
{% endblock %}

{#
                        
    <section class="content-header"><!-- content header -->
        <h1>Permit</h1><!--/heading -->
        <h5>
            <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
            <span style="">Public</span><span class="glyphicon glyphicon-remove" style="padding:0 5px;"></span>
            <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
        </h5>
        <ol class="breadcrumb"><!--breadcrumb -->
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; HOA </li>
            <li class="breadcrumb-item">Submit Permit</li>
        </ol><!--/breadcrumb -->
    </section><!--/content header -->

    <section class="content"><!-- main content -->

        <div class="row"><!-- Row of columns-->

            <div class="col-md-6"><!-- /.col (left) -->
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">New</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        {% form_theme form 'form/bootstrap_3_layout.html.twig' %}
                        <div class="col-md-10">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}   
                            </br></br> 
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col (left) -->
            
            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Documentation</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <p>Directions</p>
                            <div style="white-space: pre-wrap">
Utamur invidunt vel id. Quo at natum error fierent, unum ubique rationibus cum ea. An ferri dicta pro. Ex modo wisi molestiae eam. Et adhuc adversarium cum, te enim suavitate mediocritatem sit. Vim an essent phaedrum repudiare, id ferri tempor intellegat est.

Admodum nominati mandamus usu et. Vix illud aperiam eu, vix ne assum solet commune, legendos nominati has ei. Sea legimus apeirian elaboraret ea. Qui ne mollis audiam nusquam, pri quod assentior eu.

Ea maluisset consulatu reprimique mea, doctus vivendo eos te. Nec ea modo fierent, sanctus lucilius ei his. Ceteros maiestatis eu sit, elitr exerci timeam pri cu. Eos volumus accusata eu, sit ex decore numquam. Ei mei semper habemus explicari, sea id cibo corpora consetetur.

Facilisi assentior has et. Vero magna omnis ei nam, ex nec posse fierent ullamcorper. Nam eu porro omnesque, ea liberavisse contentiones vim. Viris graeco usu at, ea sit error viris. In nam quod patrioque.

In nam ferri oratio appetere. Pri id vocent pertinax mediocrem. Dicant periculis an eam, eu dicta aperiri albucius mea, et eum minim iisque meliore. Per paulo honestatis scripserit te. Omittam contentiones ad vel, eu pro virtute ceteros, his integre rationibus ea.
                            </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
            
        </div><!-- /.row of columns-->
    </section>
            
{#                                    
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
        <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; HOA </li>
        <li class="breadcrumb-item">Submit Permit</li>
    </ol>
    <h3><small>NEW</small></h3>
    <hr style="padding: 0; margin:0;">
    <h2>PERMIT</h2>    
    <h5>
        <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
        <span style="">Public</span><span class="glyphicon glyphicon-remove" style="padding:0 5px;"></span>
        <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
    </h5>
    <hr>
#}
        
        
