{% extends 'base.html.twig' %}

{% block body %}
    <h1>Goals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Completiongoaldate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goal in goals %}
            <tr>
                <td><a href="{{ path('goal_admin_show', { 'id': goal.id }) }}">{{ goal.id }}</a></td>
                <td>{{ goal.name }}</td>
                <td>{{ goal.description }}</td>
                <td>{% if goal.created %}{{ goal.created|date('Y-m-d') }}{% endif %}</td>
                <td>{% if goal.updated %}{{ goal.updated|date('Y-m-d') }}{% endif %}</td>
                <td>{% if goal.completionGoalDate %}{{ goal.completionGoalDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('goal_admin_show', { 'id': goal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('goal_admin_edit', { 'id': goal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('goal_admin_new') }}">Create a new goal</a>
        </li>
    </ul>
{% endblock %}
