{% extends 'alt-layout.html.twig' %}
{% block title %}Minutes 1st Quarter{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-file">&nbsp;</span>Minutes | <small><small>2016 AGENDA</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    {% block breadcrumb %} 
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; HOA </li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; Board of Directors </li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Minutes</li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; <a href="{{ path('showSummary2016FinanceProtected') }}">2016</a></li>
            <li class="breadcrumb-item active"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Agenda</li>
        </ol>
    {% endblock %}   
    <div class="col-md-3">{% block sidebar %} {{ include('sidebars/minutesSidebar.html.twig') }} {% endblock %}</div>
    <div class="col-md-9">
    {# PAGE SUMMARY #}        
        <ul class="nav nav-tabs">
            <li {% if app.request.attributes.get( '_route' ) == 'showAgenda2016Protected' %} class="active"{% endif %}><a href="{{path('showAgenda2016Protected')}}">2016</a></li>
            <li {% if year in app.request.requesturi and 'quarter-1' in app.request.requesturi %} class="active"{% endif %}><a href="{{path('showQuarterlyMinutesProtected', {'year' : '2016', 'quarter' : '1'} )}}">Quarter 1</a></li>
            <li {% if year in app.request.requesturi and 'quarter-2' in app.request.requesturi %} class="active"{% endif %}><a href="{{path('showQuarterlyMinutesProtected', {'year' : '2016', 'quarter' : '2'} )}}">Quarter 2</a></li>
            <li {% if year in app.request.requesturi and 'quarter-3' in app.request.requesturi %} class="active"{% endif %}><a href="{{path('showQuarterlyMinutesProtected', {'year' : '2016', 'quarter' : '3'} )}}">Quarter 3</a></li>
            <li {% if year in app.request.requesturi and 'quarter-4' in app.request.requesturi %} class="active"{% endif %}><a href="{{path('showQuarterlyMinutesProtected', {'year' : '2016', 'quarter' : '4'} )}}">Quarter 4</a></li>
        </ul>
        <h2>2016 Agenda</h2>    
        {# SECURITY #}  
        <h5>
            <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
            <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
        </h5>
        <hr>
        {# CONTENT #}
        
        <p>Create new entity: 'Agenda' - new administrative tool - it sets the agenda for the year. It will
            appear here in this section.  It will be editable.</p>
        
        <p>Only one agenda per year permitted.  Each NEW agenda will create the following:</p>
        <ol>
            <li> new year folder under minutes</li>
            <li> 5 new twig files -> agenda, q1, q2, q3, q4</li>
            <li> new MinutesContoller Y[year] Folder</li>
            <li> new MinutesYearController in the new controller folder</li>
        <ol>
        <br/><br/>
        <p>
            Actually, the above is NOT true.  We can all of that much more efficiently with 
            just ONE controller and ONE TWIG template.  Just do everything programatically.
            Create a query that looks for the number of years for each AGENDA created... which
            will give the number of years in the sub-menu.  Athother query that gets us the number
            of quarters in that year for the TABS.  Each twig and each controller item can then 
            just use those parameters for everything else.  Easy-peesy.  MUCH more easier than
            creating controller, folder, generate twig templates, etc... remember: KISS.
        </p>
        <br/><br/>
    </div>
{% endblock %}