{% extends 'alt-layout.html.twig' %}
{% block title %}Minutes 1st Quarter{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-file">&nbsp;</span>Q1 Minutes | <small><small>FROM QUARTERLY BOARD MEETING</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    {% block breadcrumb %} 
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; HOA </li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; Board of Directors </li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Minutes</li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; <a href="{{ path('showSummary2016FinanceProtected') }}">2016</a></li>
            <li class="breadcrumb-item active"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Q1</li>
        </ol>
    {% endblock %}   
    <div class="col-md-3">{% block sidebar %} {{ include('sidebars/minutesSidebar.html.twig') }} {% endblock %}</div>
    <div class="col-md-9">
    {# PAGE SUMMARY #}        
        <ul class="nav nav-tabs">
            <li {% if app.request.attributes.get( '_route' ) == 'showAgenda2016Protected' %} class="active"{% endif %}><a href="{{path('showAgenda2016Protected')}}">2016</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'showQ12016Protected' %} class="active"{% endif %}><a href="{{path('showQ12016Protected', {'year' : '2016', 'quarter' : '1'} )}}">1st Quarter</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'showQ22016Protected' %} class="active"{% endif %}><a href="{{path('showQ22016Protected', {'year' : '2016', 'quarter' : '2'} )}}">2nd Quarter</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'showQ32016Protected' %} class="active"{% endif %}><a href="{{path('showQ32016Protected', {'year' : '2016', 'quarter' : '3'} )}}">3rd Quarter</a></li>
            <li {% if app.request.attributes.get( '_route' ) == 'showQ42016Protected' %} class="active"{% endif %}><a href="{{path('showQ42016Protected', {'year' : '2016', 'quarter' : '4'} )}}">4th Quarter</a></li>
        </ul>
        <h2>Q1 Minutes</h2>    
        {# SECURITY #}  
        <h5>
            <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
            <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
        </h5>
        <hr>
        {# CONTENT #}
        
        <iframe 
            width="100%"
            height="1000"
            frameborder="0" style="border:0; margin-bottom: 50px;"
            src="{{minutes.embedCode|raw}}"
            allowfullscreen
        >
        </iframe>
    </div>
{% endblock %}