{% extends 'AdminLTE_NoSidebar.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#complaint-index').DataTable({
              "paging": false,
              "lengthChange": true,
              "searching": false,
              "ordering": true,
              "info": false,
              "autoWidth": false,
              "order": []
            });
        } );
    </script>
{% endblock %}
{% block title %}Complaint Index{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-th">&nbsp;</span>Complaints | <small><small>NEIGHBORHOOD COMPLAINTS & ACTIONS</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}

{% block content %}
    
     <section class="content-header"><!-- content header -->
        <!-- heading -->
        <h1>BME Complaints</h1>
        <h5>
            <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
            <span style="">Public</span><span class="glyphicon glyphicon-remove" style="padding:0 5px;"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
            <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
        </h5>
        <!--/heading -->
        <ol class="breadcrumb"><!--breadcrumb -->
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; HOA</li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp; Board of Directors</li>
            <li class="breadcrumb-item active">Complaints</li>
        </ol><!--/breadcrumb -->
    </section><!--/content header -->

    <section class="content"><!-- main content (includes space for sidebar) -->
        
        <div class="box"><!-- Complaints -->
            <div class="box-header with-border">
                <h3 class="box-title">INDEX</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                
                <table id="complaint-index" class="table table-bordered table-striped">
                    <select class="form-control pull-left" style="width: 120px">
                        <option>Show 10</option>
                        <option>Show 25</option>
                        <option>Show 50</option>
                        <option>Show All</option>
                    </select>
                    <div class="form-group pull-right" style="width: 200px">
                        <input type="text" class="form-control" placeholder="Search ...">
                    </div>
                    <thead>
                        <tr>
                            <th>Submitted</th>
                            <th>Type</th>
                            <th>Complaint</th>
                            <th>Resolved</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for complaint in complaints %}
                            <tr>
                                <td style='min-width: 100px;'>
                                    <a href="{{ path('showComplaintProtected', {'id' : complaint.id}) }}">
                                        {{complaint.timestamp|date('M j, Y')}}
                                    </a>
                                </td>
                                <td>
                                    {{ complaint.type }}
                                </td>
                                <td>
                                    {{complaint.details}}
                                </td>
                                <td>
                                    {% if complaint.isResolved == 1 %}<span class="badge bg-green">Yes</span>{% else %}<span class="badge bg-red">No</span>{%endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <!-- /.box-body -->
            <div class="box-footer with-border">
                <div class="row"><!-- Row of columns-->
                     <div class="col-md-6 footer-pageinfo"><!-- /.col (left) page info-->
                        <span class="">Showing {{ complaints.currentPageNumber}} to {{complaints.getPageCount }} of {{ complaints.getTotalItemCount }} entries</span>
                     </div><!-- /.col (left) page info-->
                     <div class="col-md-6"><!-- /.col (right) paginator-->
                        <span class="pull-right">
                            <div class="navigation">{{ knp_pagination_render(complaints) }}</div>
                        </span>
                     </div><!-- /.col (right) paginator-->
                </div>
            </div>
        </div><!-- /.box -->
    </section>
                
    
    {# grid_search(grid) #}
    {# grid_rows(grid) #}
    {# grid(grid) #}
    
    {#<table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th {% if pager.isSorted('c.id') %} class="col-xs-6 sorted"{% endif %} >{{ knp_pagination_sortable(pager, 'ID', 'c.id') }}</th>
                <th {% if pager.isSorted('c.type') %} class="col-xs-5 sorted"{% endif %} >{{ knp_pagination_sortable(pager, 'Type', 'c.type') }}</th>
                {#<th {% if pager.isSorted('c.dateUpdated') %} class="col-xs-4 sorted"{% endif %} >{{ knp_pagination_sortable(pager, 'Date', 'c.timestamp') }}</th>
                <th {% if pager.isSorted('c.isResolved') %} class="col-xs-1 sorted"{% endif %} >{{ knp_pagination_sortable(pager, 'Status', 'c.isResolved') }}</th>
            </tr>
        </thead>
    <tbody>
        {% for complaint in pager %}
            <tr>
                <td class="col-xs-6">
                    {{complaint.timestamp|date('m/d/y')}}&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{{path('showComplaintProtected', {'id' : complaint.id})}}">{{ complaint.type }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    {% for user in complaint.user %}
                        {{user.lastname}} - {{user.housenumber}} {{user.street}}
                    {% endfor %}
                </td>
                <td class="col-xs-5">
                    <span class="badge">{{complaint.actions|length}}</span> Actions&nbsp;&nbsp;|&nbsp;&nbsp;
                        {% if complaint.actions|length > 0 %}
                            {% for action in complaint.actions|slice(-1) %}
                                {{action.action}}
                            {% endfor %}
                        {% else %}
                            PENDING - No action taken
                        {% endif %}
                {#</td>
                <td class="col-xs-4">{{complaint.timestamp|date('c')}}</td>
                <td class="col-xs-1">{% if complaint.isResolved == true %}Resolved{%else%}Unresolved{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    

<div class="navigation">{{ knp_pagination_render(pager) }}</div>#}
{% endblock %}