{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block title %}Complaint Index{% endblock %}
{% block pageheader %}<h1>Administrative</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Administrative</a></li>
        <li class="breadcrumb-item active">Complaints</li>
    </ol>
    <hr>
    <h2>Complaints&nbsp;&nbsp;<small><small>INDEX</small></small></h2>    
    <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>

    <div class="alert alert-warning">
        <strong>Unresolved</strong> Complaints
    </div>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-xs-6">Permit Description</th>
                <th class="col-xs-6">Permit Actions</th>
            </tr>
        </thead>
    <tbody>
        {% for complaint in unresolvedComps %}
            <tr>
                <td class="col-xs-6">
                    {{complaint.timestamp|date('m/d/y')}}&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{{path('showComplaintAdmin', {'id' : complaint.id})}}">{{ complaint.type }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    {% for user in complaint.user %}
                        {{user.lastname}} - {{user.housenumber}} {{user.street}}
                    {% endfor %}
                </td>
                <td class="col-xs-6">
                    <span class="badge">{{complaint.actions|length}}</span> Actions&nbsp;&nbsp;|&nbsp;&nbsp;
                        {# 
                            wow.  can't believe the statement below actually worked. This gets only
                            the last element of the collection of actions and returns the status. genious.
                        #}
                        {% if complaint.actions|length > 0 %}
                            {% for action in complaint.actions|slice(-1) %}
                                {{action.action}}
                            {% endfor %}
                        {% else %}
                            PENDING - No action taken
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    
    <div class="alert alert-success">
        <strong>Resolved</strong> Complaints
    </div>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th class="col-xs-6">Permit Description</th>
                <th class="col-xs-6">Permit Actions</th>
            </tr>
        </thead>
    <tbody>
        {% for complaint in resolvedComps %}
            <tr>
                <td class="col-xs-6">
                    {{complaint.timestamp|date('m/d/y')}}&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="{{path('showComplaintAdmin', {'id' : complaint.id})}}">{{ complaint.type }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    {% for user in complaint.user %}
                        {{user.lastname}} - {{user.housenumber}} {{user.street}}
                    {% endfor %}
                </td>
                <td class="col-xs-6">
                    <span class="badge">{{complaint.actions|length}}</span> Actions&nbsp;&nbsp;|&nbsp;&nbsp;
                        {# 
                            wow.  can't believe the statement below actually worked. This gets only
                            the last element of the collection of actions and returns the status. genious.
                        #}
                        {% if complaint.actions|length > 0 %}
                            {% for action in complaint.actions|slice(-1) %}
                                {{action.action}}
                            {% endfor %}
                        {% else %}
                            PENDING - No action taken
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    
    <hr>

{% endblock %}