{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}<link href="{{ asset('bundles/main/css/forms.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}<script type="text/javascript" src="{{ asset('bundles/main/js/form.js') }}"></script>
{% endblock %}
{% block title %}Complaint New{% endblock %}
{% block sidebar %}
    {# render controller("MainBundle:Sidebar:admin") #}
{% endblock %}

{% block body %}    
{% form_theme form 'form/fields.html.twig' %}

    <div class="section-header"><h1>Complaints</h1></div>
    <div class="section-header"><h6>Log Complaint</h6></div>
    <div class="section-header"><h2>New</h2></div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}   
    
    {#<form action="{{ path('MainBundle_Complaint')}}" method="post" {{ form_enctype(form) }} class="user">
        {{ form_errors(form) }}
        {{ form(form) }}
        {# form_row(form.balance) }}
        {{ form_row(form.users) }}
        {{ form_row(form.property) }}
        {{ form_rest(form) }}
        <input type="submit" value="Submit" />
    </form>#}

{% endblock %}