{% extends 'alt-layout-no-sidebar.html.twig' %}
{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/main/js/add_delete.js') }}"></script>
{% endblock %}
{% block title %}Log Complaint{% endblock %}
{% block pageheader %}<h1>Official Business</h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Official Business</a></li>
        <li class="breadcrumb-item active">Complaint</li>
    </ol>
    <hr>
        <h2>Complaint&nbsp;&nbsp;<small><small>NEW</small></small></h2>    
        <h5><span class="glyphicon glyphicon-time"></span> Last updated: Sep 26, 2015</h5>
    <hr>
    
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}
<div class="col-md-6">
    {{ form_start(form) }}
    {{ form_row(form.type) }}
    {{ form_row(form.details) }}
    {{ form_row(form.defendent_name) }}
    {{ form_row(form.defendent_address) }}
    {{ form_row(form.reg_violated) }}
    <div class="images" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
        {% for picture in form.photos %}
            <section>
                {{ form_row(picture.path, { 'attr': {'class': 'img_path'} }) }}
            </section>
        {% endfor %}
    </div>
    {{ form_row(form.save) }}
    {{ form_end(form) }}    
</div>
<div class="col-md-6"></div>
{% endblock %}