{% extends 'AdminLTE_NoSidebar.html.twig' %}
{% block stylesheets %}
    {{ parent() }}<link href="{{ asset('bundles/main/css/content.css') }}" type="text/css" rel="stylesheet" />
    <style>
        .dl-horizontal dt {
            width: 250px;
            padding-right: 15px;
            line-height: 2em;
            font-weight: 600;
        }
        .dl-horizontal dd {
            margin-left: 265px;
            line-height: 2em;
        }
    </style>
{% endblock %}
{% block title %}Complaints{% endblock %}
{% block pageheader %}<h1><span class="glyphicon glyphicon-th-large">&nbsp;</span>Complaint | <small><small>THE DETAILS</small></small></h1><p>Brandy Mill Estates Homeowners Association</p>{% endblock %}
{% block content %}
    <section class="content-header"><!-- content header -->
        <!-- heading -->
        <h1>Complaint <small></small></h1>
        <h5>
            <span class="glyphicon glyphicon-lock" style="padding-right: 5px;"></span><span style="padding-right: 5px;">Security Level</span><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-question-sign"></span></a>&nbsp;:&nbsp;&nbsp;
            <span style="">Public</span><span class="glyphicon glyphicon-remove" style="padding:0 5px;"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
            <span style="">Protected</span><span class="glyphicon glyphicon-ok" style="padding:0 5px;"></span>
        </h5>
        <!--/heading -->
        <ol class="breadcrumb"><!--breadcrumb -->
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-home"></span>&nbsp; <a href="{{ path('home') }}">Homepage</a></li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;&nbsp;HOA</li>
            <li class="breadcrumb-item"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;&nbsp;Board of Directors</li>
            <li class="breadcrumb-item"><a href="{{ path('indexComplaintProtected') }}">Complaints</a></li>
            <li class="breadcrumb-item active">Show Complaint #{{complaint.id}}</li>
        </ol><!--/breadcrumb -->
    </section><!--/content header -->

    <section class="content"><!-- main content (includes space for sidebar) -->    
            
        <div class="box box-default"><!-- FULL ROW EXAMPLE -->
            <div class="box-header with-border">
                <h3 class="box-title">SHOW 
                    <small>
                        
                    </small>
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body"><!--.box-body start -->
                <dl class="dl-horizontal">
                    <dt>ID</dt><dd>{{complaint.id}}</dd>
                    <dt>Complainant Vs Respondent</dt><dd>{% for user in complaint.user %}{{user.lastname}}{% endfor %} Vs. {{ complaint.defendentName }}</dd>
                    <dt>Submitted</dt><dd>{{ complaint.timestamp|date('M j, Y') }}</dd>
                    <dt>Type</dt><dd>{{complaint.type}}</dd>
                    <dt>Complainant</dt><dd>{% for user in complaint.user %}{{user.fullname}}{% endfor %} </dd>
                    <dt>Complainant Address</dt><dd>{% for user in complaint.user %}{{user.houseNumber}} {{user.street}}, Etna, OH 43062{% endfor %}</dd>
                    <dt>Respondent</dt><dd>{{complaint.defendentName}}</dd>
                    <dt>Respondent Address</dt><dd>{{complaint.defendentAddress}}, Etna, OH 43062</dd>
                    <dt>Details</dt><dd>{{complaint.details}}</dd>
                    <dt>Regulation Violated</dt><dd>{{complaint.regViolated}}</dd>
                    <dt>Assigned To</dt><dd>{{complaint.assignedTo|capitalize}}</dd>
                    <dt>Complaint Status</dt><dd>
                        {% if complaint.isResolved == 1 %}
                            <span class="label label-success">RESOLVED</span>
                        {% else %}
                            <span class="label label-warning">UNRESOLVED</span>
                        {% endif %}
                    </dd>
                    <dt>Date Updated</dt><dd>
                        {% if complaint.dateUpdated is not null%}
                            {{complaint.dateUpdated|date('M j, Y')}}
                        {% else %}
                            No update
                        {% endif %}
                    </dd>
                    <dt>Date Resolved</dt><dd>
                        {% if complaint.dateResolved is not null%}
                            {{complaint.dateResolved|date('M j, Y')}}
                        {% else %}
                            Unresolved
                        {% endif %}
                    </dd>
                    <dt>Photos</dt><dd><a href="#" data-toggle="modal" data-target="#complaintPhotoShow"><i class="fa fa-photo"></i></a></dd>
                </dl>
                <div class="modal modal-info" id="complaintPhotoShow" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Photos</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Photos of </h3>
                                    </div><!-- box header End -->
                                    <div class="box-body"><!-- box body start -->
                                        <div id="complaint-carousel-{{complaint.id}}" class="carousel slide" data-ride="carousel" data-interval="false">
                                            <ol class="carousel-indicators">
                                                {% for pic in complaint.photos %}
                                                    <li data-target="#owner-carousel-{{pic.id}}" data-slide-to="{{loop.index}}" class="active"></li>
                                                {% endfor %}
                                            </ol>
                                            <div class="carousel-inner">
                                                {% for pic in complaint.photos %}
                                                    <div {% if loop.index0 == 0 %} class="item active" {% else %} class="item" {% endif %} >
                                                        <img src="{{ pic.path }}" alt="Slide {{loop.index}}" >
                                                        <div class="carousel-caption">
                                                          {{pic.description}}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="left carousel-control" href="#complaint-carousel-{{complaint.id}}" data-slide="prev">
                                              <span class="fa fa-angle-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#complaint-carousel-{{complaint.id}}" data-slide="next">
                                              <span class="fa fa-angle-right"></span>
                                            </a>
                                        </div>
                                    </div><!--/box body end -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline  pull-left" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div>
                </div>    
            </div><!-- /.box-body end-->
        </div><!--/ FULL ROW EXAMPLE -->
        
        {% if complaint.actions is not null %}
            {% for action in complaint.actions %}
                <div class="box box-default"><!-- FULL ROW EXAMPLE -->
                    <div class="box-header with-border">
                        <h3 class="box-title">ACTION</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body"><!--.box-body start -->

                        <dl class="dl-horizontal">
                            <dt>ID</dt><dd>{{action.id}}</dd>
                            <dt>Date Taken</dt><dd>{{ action.dateTaken|date('M j, Y') }}</dd>
                            <dt>Action</dt><dd>{{ action.action }}</dd>
                            <dt>Details</dt><dd>{{action.description}}</dd>
                            <dt>Status</dt><dd>
                                {% if action.isResolved == 1 %}
                                    <span class="label label-success">RESOLVED</span>
                                {% else %}
                                    <span class="text red">FURTHER ACTION REQUIRED</span>
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                </div>
            {% endfor %}
        {%  endif %}
    
    </section>

{% endblock %}